<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página principal para Grupo Cimarrón">
    <meta name="keywords"
        content="Dulces, Salud, Confitería, Chocolates, Despensas, Botana, BorreGo, Borreguito, Borreguita, Chihuahua, Delicias, Pistacho, Mundo ">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="GRUPO CIMARRÓN">
    <link rel="icon" type="x-icon" sizes="32x47" href="../img/icono_pagina.png">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/confiteria.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <title>Confiteria</title>
</head>

<body>
    <nav class="barra-navegacion" id="navbar">
        <div class="logo-mobile">
            <a href="../index.html"><img src="../img/Logo/gc_logo.svg" alt="logo"></a>
        </div>
        <div class="menu-hamburguesa">
            <button class="hamburguesa-btn">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
        </div>
        <ul class="menu-horizontal">
            <li class="lista-texto">
                <a href="#">NOSOTROS</a>
                <ul class="menu-vertical">
                    <li><a href="nuestra-historia.html">NUESTRA HISTORIA</a></li>
                    <li><a href="quienes_somos.html">¿QUIENES SOMOS?</a></li>
                    <li><a href="estrategia_corporativa.html">ESTRATEGIA CORPORATIVA</a></li>
                </ul>
            </li>
            <li class="lista-texto">
                <a href="#">DIVISIONES</a>
                <ul class="menu-vertical">
                    <li>
                        <a href="retail.html">RETAIL</a>
                        <ul class="submenu-desktop">
                            <li class="submenu-item"><a href="Borreguito.html">BORREGUITO</a></li>
                            <li class="submenu-item"><a href="Borreguita.html">BORREGUITA</a></li>
                            <li class="submenu-item"><a href="BorreGO.html">BORREGO!</a></li>
                            <li class="submenu-item"><a href="placita-cimarron.html">PLACITA CIMARRÓN</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="division_alimentos.html">ALIMENTOS</a>
                        <ul class="submenu-desktop">
                            <li class="submenu-item"><a href="comedores.html">COMEDORES</a></li>
                        </ul>
                    </li>
                    <li><a href="division-salud.html">SALUD</a></li>
                    <li><a href="division-seguridad.html">SEGURIDAD</a></li>
                    <li><a href="division_tecnologia.html">TECNOLOGÍA</a></li>
                    <li><a href="division_escolar.html">ESCOLAR</a></li>
                    <li>
                        <a href="confiteria.html">CONFITERIA</a>
                        <ul class="submenu-desktop">
                            <li class="submenu-item"><a href="truffino.html">TRUFFINO</a></li>
                            <li class="submenu-item"><a href="galeria.html">GALERIA</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="lista-texto">
                <a href="#">TIENDA EN LINEA</a>
                <ul class="menu-vertical">
                    <li><a href="https://cimarron.shop/" target="_blank" rel="noopener noreferrer">CIMARRÓN.SHOP</a></li>
                    <li><a href="https://sotolcuernos.mx/" target="_blank" rel="noopener noreferrer">SOTOL CUERNOS</a></li>
                </ul>
            </li>
            <li><a href="../index.html"><img src="../img/Logo/gc_logo.svg" alt="Logo Cimarrón"></a></li>
            <li class="lista-texto"><a href="fundacion.html">FUNDACIÓN</a></li>
            <li class="lista-texto"><a href="vacantes.html">¡TRABAJA CON NOSOTROS!</a></li>
            <li class="lista-texto">
                <a href="#">CONTACTO</a>
                <ul class="menu-vertical">
                    <li><a href="servicio_al_cliente.html">SERVICIO AL CLIENTE</a></li>
                    <li><a href="proveedores.html">PROVEEDORES</a></li>
                </ul>
            </li>
        </ul>
        <div class="menu-hamburguesa-responsive">
            <ul class="menu-vertical-responsive">
                <li>NOSOTROS
                    <ul class="menu-vertical-mobile">
                       
                            <li> <a href="nuestra-historia.html">NUESTRA HISTORIA</a></li>

                        
                            <li><a href="quienes_somos.html">¿QUIENES SOMOS?</a></li>

                        
                            <li><a href="estrategia_corporativa.html">ESTRATEGIA CORPORATIVA</a></li>

                    </ul>
                </li>
                <li>DIVISIONES
                    <ul class="menu-vertical-mobile">
                    
                            <li class="has-submenu">RETAIL
                                <ul class="submenu-segundo">
                                    <li><a href="placita-cimarron.html">PLACITA CIMARRÓN</a></li>
                                    <li><a href="Borreguito.html">BORREGUITO</a></li>
                                    <li><a href="Borreguita.html">BORREGUITA</a></li>
                                    <li><a href="BorreGO.html">BORRE GO!</a></li>
                                    <li><a href="retail.html">RETAIL</a></li>
                                </ul>
                            </li>

                        
                            <li class="has-submenu">ALIMENTOS
                                <ul class="submenu-segundo">
                                    <li><a href="comedores.html">COMEDORES</a></li>
                                    <li><a href="division_alimentos.html">ALIMENTOS</a></li>
                                </ul>
                            </li>

                        
                            <li><a href="division-salud.html">SALUD</a></li>

                        
                            <li><a href="division-seguridad.html">SEGURIDAD</a></li>

                        
                            <li><a href="division_tecnologia.html">TECNOLOGÍA</a></li>

                        
                            <li><a href="division_escolar.html">ESCOLAR</a></li>

                            <li class="has-submenu">CONFITERIA
                                <ul class="submenu-segundo">
                                    <li><a href="truffino.html">TRUFFINO</a></li>
                                    <li><a href="galeria.html">GALERIA</a></li>
                                    <li><a href="confiteria.html">CONFITERIA</a></li>
                                </ul>
                            </li>

                    </ul>
                </li>
                <li>TIENDA EN LINEA
                    <ul class="menu-vertical-mobile">
                        
                            <li><a href="https://cimarron.shop/" target="_blank">CIMARRÓN.SHOP</a></li>
                        
                            <li><a href="https://sotolcuernos.mx/" target="_blank">SOTOL CUERNOS</a></li>
                        
                    </ul>
                </li>
                
                <li><a href="fundacion.html">FUNDACIÓN</a></li>
                <li><a href="vacantes.html">TRABAJA CON NOSOTROS</a></li>
                <li>CONTACTO
                    <ul class="menu-vertical-mobile">
                        
                            <li><a href="servicio_al_cliente.html">SERVICIO AL CLIENTE</a></li>
                        
                            <li><a href="proveedores.html">PROVEEDORES</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="confit-botanas">
            <div class="texto-confit">
                <div class="titulo-confit">
                    <h1>CONFITERÍA <span class="destacado">Y BOTANAS</span></h1>
                </div>

                <div class="descripcion-confit">
                    <p>Grupo Cimarrón es reconocido por su amplia variedad de confitería y botanas premium en todo
                        México y el extranjero. El delicioso sabor y la calidad incomparable en cada uno de nuestros
                        productos, es garantía para todos nuestros clientes y distribuidores autorizados. <br> <br>
                        Actualmente tenemos presencia en las principales cadenas de autoservicio del país y siempre
                        estamos en la búsqueda de aliados estratégicos para llegar a más hogares, porque estamos
                        convencidos de que somos la mejor opción.</p>

                </div>

                <div class="catalogo-button">
                    <button>Catálogo</button>
                </div>

                <div class="empaques">
                    <img src="../img/confiteria/Enmascarar grupo 98/Enmascarar grupo 98.png" alt="empaques">
                </div>

                <div class="decoracion-naranja">
                    <img src="../img/Estrategia_corporativa/flecha02.svg" alt="triangulo naranja">
                </div>
                <div class="decoracion-amarilla">
                    <img src="../img/QuienesSomos/triangulo_abajo.png" alt="triangulo amarillo">
                </div>
            </div>

            <div class="formulario-confit">
                <div class="titulo-formulario">
                    <h1>¡CONTÁCTANOS PARA <br> <span class="destacado-naranja">VENTAS POR MAYOREO!</span></h1>
                </div>
                <form action="">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre">

                    <label for="telefono">Teléfono</label>
                    <input type="tel" id="telefono" name="telefono">

                    <label for="email">Correo</label>
                    <input type="email" id="email" name="email">

                    <label for="mensaje">Mensaje</label>
                    <input type="text" id="mensaje" name="mensaje">

                    <div class="caja-boton">
                        <button type="submit">Enviar</button>
                    </div>
                </form>

                <div class="datos-contacto">
                    <p>800 900 9050 Ext. 210</p>
                    <p>ventasmx@proyectoscimarron.com</p>
                </div>

                <div class="confit-decoracion">
                    <img src="../img/crecemos/flecha03.svg" alt="flecha marron">
                </div>
            </div>
        </div>
        <div class="grid-confiteria">
            <div class="titulo-grid-confit">
                <h1>BOTANAS</h1>
            </div>
            <div class="grid-item-verde">
                <p>Almendra <br> Almendra con Sal <br> Almendra con Salsa soya y Wasabi <br> Almendra Confitada <br> Cacahuate <br> Cacahuate Español <br> Cacahuate Japonés</p>
            </div>
            <div class="grid-item-verde">
                <p>Cacahuate Salado <br> Checolines <br> Gomitas Aros <br> Nuez de la India <br> Nuez Garampiñada <br> Nuez Pecanera <br> Palomitas acarameladas</p>
            </div>
            <div class="grid-item-verde">
                <p>Palomitas con mantequilla <br> Palomitas con queso <br> Palomitas enchocolatadas <br> Pistacho <br> Pistacho Chile Rojo <br> Pistacho Chipotle</p>
            </div>
            <div class="grid-item-verde">
                <p>Pistacho Habanero <br> Pistacho Jalapeño <br> Pistacho Sal Pimienta <br> Semilla de calabaza <br> Trail Mix <br> Uva pasa blanca con yogur</p>
            </div>
            <div class="grid-item-img">
                <img src="../img/confiteria/mayoreo (6).png" alt="pistaches">
            </div>
            <div class="grid-item-azul">
                <p>Arándano <br> Chabacano <br> Ciruela Pasa <br> Coco Rallado <br> Dátil</p>
            </div>
            <div class="grid-item-img">
                <img src="../img/confiteria/mayoreo (7).png" alt="arandanos">
            </div>
            <div class="titulo-grid-confit-azul">
                <h1>FRUTAS</h1>
                <h1>DESHIDRATADAS</h1>
            </div>

            <div class="grid-item-img">
                <img src="../img/confiteria/mayoreo (1).png" alt="arandanos">
            </div>

            <div class="grid-item-azul">
                <p>Fruta Chabacano <br> Fruta Mixta Cubo <br> Fruta Mixta Orejón <br> Kiwi <br>Mango</p>
            </div>
            <div class="grid-item-azul">
                <p>Manzana Natural <br> Papaya <br> Pera deshidratada <br> Piña <br> Uva Pasa</p>
            </div>

            <div class="titulo-grid-confit-rosa">
                <h1>ENCHILADOS</h1>
            </div>

            <div class="grid-item-img">
                <img src="../img/confiteria/mayoreo (3).png" alt="cacahuates">
            </div>
            <div class="grid-item-rosa">
                <p>Arándano Enchilado <br> Cacahuate Enchilado <br> Chabacano Enchilado <br> Gomita Enchilada <br> Mango Enchilado</p>
            </div>

            <div class="grid-item-img">
                <img src="../img/confiteria/mayoreo (2).png" alt="maní">
            </div>
            <div class="grid-item-rosa">
                <p>Manzana Enchilada <br> Papaya Enchilada <br> Pepita Enchilada <br> Piña Enchilada <br> Semilla de Girasol Enchilada</p>
            </div>
            <div class="grid-item-img">
                <img src="../img/confiteria/mayoreo (4).png" alt="nuez">
            </div>

            <div class="grid-item-salmon">
                <p>Almendra con Chocolate <br> Bombón con Chocolate Crema Baileys <br> Chocolate <br> Chocolate con Almendra <br> Chocolate con cajeta <br> Chocolate con Crema Carajillo</p>
            </div>
            <div class="grid-item-img">
                <img src="../img/confiteria/mayoreo (5).png" alt="chocolate">
            </div>
            <div class="titulo-grid-confit-salmon">
                <h1>ENCHOCOLATADOS</h1>
            </div>
            <div class="grid-item-salmon">
                <p>Chocolate con Fresa <br> Chocolate con Nuez <br> Chocolate con Oreo <br> Chocolate Corazón Baileys <br> Chocolate Crema Baileys <br> Chocolate Crema de Coco</p>
            </div>
            <div class="grid-item-salmon">
                <p>Chocolate Lunetas <br> Chocolate Nuez Cajeta <br> Chocolate Rosa con Nuez <br> Chocolate Tricolor <br> Enjambre de Almendra</p>
            </div>
            <div class="grid-item-salmon">
                <p>Enjambre de Coco <br> Enjambre de Nuez <br> Enjambre de Pistacho <br> Pasa con Chocolate <br> Tortugas</p>
            </div>

        </div>
        <footer class="footer">
            <div class="footer-cimarron">
                <div class="footer-logo"><img src="../img/Logo/gc_logo.svg" alt="logo_cimarrón"></div>
                <div class="desc-footer">
                    <p>En Grupo Cimarrón brindamos valor a cada uno de nuestros clientes, a través de soluciones
                        personalizadas en nuestras distintas divisiones, orientadas al sector público y privado.
                        <br><br> Líder en México en la industria alimenticia con más de 39 años de experiencia.
                    </p>
                </div>
                <div class="redes-sociales-footer">
                    <a href="https://www.facebook.com/grupocimarronmx/?locale=es_LA" target="_blank"><img src="../img/Footer/facebook.svg" alt="facebook"></a>
                    <a href="https://www.instagram.com/grupocimarron/?hl=es-la" target="_blank"><img src="../img/Footer/instagram.svg" alt="instagram"></a>
                    <a href="https://mx.linkedin.com/company/grupocimarronmx" target="_blank"><img src="../img/Footer/linkedin.svg" alt="linkedin"></a>
                    <a href="https://twitter.com/grupocimarron1?lang=es" target="_blank"><img src="../img/Footer/twitter.svg" alt="twitter"></a>
                    <a href="#"><img src="../img/Footer/whatsapp.svg" alt="whatsapp"></a>
                </div>
                <div class="footer-triangulo"><img src="../img/Footer/cima.svg" alt="cima"></div>
            </div>
            <div class="certificaciones">
                <div class="certif-titulo">
                    <p><b>CERTIFICACIONES</b></p>
                </div>
                <div class="certif-img">
                    <img src="../img/Footer/Certificacion01.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion02.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion03.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion04.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion05.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion06.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion07.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion08.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion09.svg" alt="certificacion">
                </div>

            </div>
            <div class="enlaces">
                <div class="enlaces-titulo">
                    <p><b>ENLACES</b></p>
                </div>
                <div class="enlaces-enlaces">
                    <a href="../index.html#nuevo">Noticias</a>
                    <a href="https://cimarron.shop/">cimarron.shop</a>
                    <a href="#">Facturación Placita Cimarrón</a>
                    <a href="#">Facturación Borreguito</a>
                    <a href="#">Quejas y sugerencias</a>
                    <a href="vacantes.html">Bolsas de Trabajo</a>
                    <a href="servicio_al_cliente.html">Contacto</a>
                </div>
                <div class="enlaces-triangulo"><img src="../img/Footer/cima.svg" alt="cima"></div>
            </div>

        </footer>
        <div class="pie-pagina">
            <div class="pie-copy">
                <p>Todos los derechos reservados &copy; <span id="año"></span> Grupo Cimarrón</p>
            </div>
            <div class="pie-aviso">
                <p>Aviso de privacidad | Términos y condiciones</p>
            </div>
        </div>
    </div>
    <script src="../javascript/navbar.js"></script>
</body>

</html>