<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>División Alimentos</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/division-alimentos.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>

<body>
    <nav class="barra-navegacion" id="navbar">
        <ul class="menu-horizontal">
            <li class="lista-texto"><a href="#">NOSOTROS</a>
                <ul class="menu-vertical">
                    <li><a href="#">NUESTRA HISTORIA</a></li>
                    <li><a href="views/quienes_somos.html">¿QUIENES SOMOS?</a></li>
                    <li><a href="views/estrategia_corporativa.html">ESTRATEGIA CORPORATIVA</a></li>
                    <li><a href="#">LIDERAZGO</a></li>
                </ul>
            </li>
            <li class="lista-texto"><a href="#">DIVISIONES</a>
                <ul class="menu-vertical">
                    <li><a href="#">RETAIL</a></li>
                    <li><a href="views/division_alimentos.html">ALIMENTOS</a></li>
                    <li><a href="views/division-salud.html">SALUD</a></li>
                    <li><a href="views/division-seguridad.html">SEGURIDAD</a></li>
                    <li><a href="#">TECNOLOGÍA</a></li>
                    <li><a href="#">ESCOLAR</a></li>
                </ul>
            </li>
            <li class="lista-texto"><a href="#">PRODUCTOS</a>

                <ul class="menu-vertical">
                    <li><a href="#">CIMARRÓN.SHOP</a></li>
                    <li><a href="#">SOTOL CUERNOS</a></li>
                    <li><a href="#">MAYOREO</a></li>
                </ul>
            </li>
            <li><a href="#"><img src="../img/Logo/gc_logo.svg" alt="Logo Cimarrón"></a></li>
            <li class="lista-texto"><a href="#">FUNDACIÓN</a></li>
            <li class="lista-texto"><a href="views/vacantes.html">VACANTES</a></li>
            <li class="lista-texto"><a href="#">CONTACTO</a>
                <ul class="menu-vertical">
                    <li><a href="#">NUESTRA HISTORIA</a></li>
                    <li><a href="#">¿QUIENES SOMOS?</a></li>
                    <li><a href="#">ESTRATEGIA CORPORATIVA</a></li>
                    <li><a href="#">LIDERAZGO</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="alimentos-grid">
            <div class="nina-img"><img src="../img/Divisiones/Alimentos/Copia de MENORES DE 5.png" alt="nina sonriendo">
            </div>
            <div class="productos-img">
                <img src="../img/Divisiones/Alimentos/CIMARRON 28SEP5958 (1).jpg" alt="" class="custom-image">
            </div>
            <div class="texto-alimentos d-flex justify-content-center align-items-start flex-column">
                <h1>DIVISIÓN <b>ALIMENTOS</b></h1>
                <p>Desde hace algunos años, el sector gubernamental ha implementado una serie de políticas públicas y
                    programas enfocados en reducir la brecha de desigualdad y mejorar la nutrición de los grupos
                    vulnerables, a través de la entrega de despensas, desayunos calientes y fríos, así como comedores
                    sociales. <br> <br>

                    Sin embargo, las instituciones públicas han visto menguados sus esfuerzos, por la falta de calidad
                    en los productos y la merma que ocasiona, su corta vida de anaquel.
                </p>
            </div>
        </div>

        <div class="alimentos-grid2">
            <div class="mochila-productos">
                <img src="../img/Divisiones/Alimentos/CIMARRON 28SEP5963 (1).jpg" alt="" class="custom-image">
            </div>
            <div class="nina-comiendo">
                <img src="../img/Divisiones/Alimentos/Copia de IMG_007-Programa de desayunos escolares fríos (1).jpeg"
                    alt="">
            </div>
            <div class="texto-alimentos2 d-flex justify-content-center align-items-center">
                <p>En este sentido, la División de Alimentos de Grupo Cimarrón surge con una propuesta diferente en el
                    mercado: ofrecer productos de excelente calidad y alto valor nutrimental, colaborando con marcas de
                    prestigio nacional, con empaques especializados en la conservación de alimentos y que promueven el
                    cuidado del medio ambiente. <br> <br>

                    Consolidándose como una empresa líder en la distribución de despensas y desayunos escolares, por su
                    amplia red de logística que le permite llegar a cualquier punto de México.
                </p>
            </div>
            <div class="figuras-alimentos">
                <img src="../img/Divisiones/Alimentos/figuras.png" alt="">
            </div>
        </div>






















        <footer class="footer">
            <div class="footer-cimarron">
                <div class="footer-logo"><img src="../img/Logo/gc_logo.svg" alt="logo_cimarrón"></div>
                <div class="desc-footer">
                    <p>En Grupo Cimarrón brindamos valor a cada uno de nuestros clientes, a través de soluciones
                        personalizadas en nuestras distintas divisiones, orientadas al sector público y privado.
                        <br><br> Líder en México en la industria alimenticia con más de 37 años de experiencia.
                    </p>
                </div>
                <div class="redes-sociales-footer">
                    <a href="#"><img src="../img/Footer/facebook.svg" alt="facebook"></a>
                    <a href="#"><img src="../img/Footer/instagram.svg" alt="instagram"></a>
                    <a href="#"><img src="../img/Footer/linkedin.svg" alt="linkedin"></a>
                    <a href="#"><img src="../img/Footer/twitter.svg" alt="twitter"></a>
                    <a href="#"><img src="../img/Footer/whatsapp.svg" alt="whatsapp"></a>
                </div>
                <div class="footer-triangulo"><img src="../img/Footer/cima.svg" alt="cima"></div>
            </div>
            <div class="certificaciones">
                <div class="certif-titulo">
                    <p><b>CERTIFICACIONES</b></p>
                </div>
                <div class="certif-img">
                    <img src="../img/Footer/Certificacion01.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion02.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion03.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion04.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion05.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion06.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion07.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion08.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion09.svg" alt="certificacion">
                </div>

            </div>
            <div class="enlaces">
                <div class="enlaces-titulo">
                    <p><b>ENLACES</b></p>
                </div>
                <div class="enlaces-enlaces">
                    <a href="">Noticias</a>
                    <a href="">cimarron.shop</a>
                    <a href="">Facturación Placita Cimarrón</a>
                    <a href="">Facturación Borreguito</a>
                    <a href="">Quejas y sugerencias</a>
                    <a href="">Bolsas de Trabajo</a>
                    <a href="">Contacto</a>
                </div>
                <div class="enlaces-triangulo"><img src="../img/Footer/cima.svg" alt="cima"></div>
            </div>

        </footer>
        <div class="pie-pagina">
            <div class="pie-copy">
                <p>Todos los derechos reservados &copy; <span id="año"></span> Grupo Cimarrón</p>
            </div>
            <div class="pie-aviso">
                <p>Aviso de privacidad | Términos y condiciones</p>
            </div>
        </div>
    </div>
    <script src="../javascript/navbar.js"></script>
</body>

</html>