<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Division salud</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/division-salud.css">
    <link rel="stylesheet" href="../styles/footer.css">

</head>

<body>
    <nav class="barra-navegacion" id="navbar">
        <ul class="menu-horizontal">
            <li class="lista-texto"><a href="#">NOSOTROS</a>
                <ul class="menu-vertical">
                    <li><a href="#">NUESTRA HISTORIA</a></li>
                    <li><a href="views/quienes_somos.html">¿QUIENES SOMOS?</a></li>
                    <li><a href="views/estrategia_corporativa.html">ESTRATEGIA CORPORATIVA</a></li>
                    <li><a href="#">LIDERAZGO</a></li>
                </ul>
            </li>
            <li class="lista-texto"><a href="#">DIVISIONES</a>
                <ul class="menu-vertical">
                    <li><a href="#">RETAIL</a></li>
                    <li><a href="views/division_alimentos.html">ALIMENTOS</a></li>
                    <li><a href="views/division-salud.html">SALUD</a></li>
                    <li><a href="views/division-seguridad.html">SEGURIDAD</a></li>
                    <li><a href="#">TECNOLOGÍA</a></li>
                    <li><a href="#">ESCOLAR</a></li>
                </ul>
            </li>
            <li class="lista-texto"><a href="#">PRODUCTOS</a>

                <ul class="menu-vertical">
                    <li><a href="#">CIMARRÓN.SHOP</a></li>
                    <li><a href="#">SOTOL CUERNOS</a></li>
                    <li><a href="#">MAYOREO</a></li>
                </ul>
            </li>
            <li><a href="#"><img src="../img/Logo/gc_logo.svg" alt="Logo Cimarrón"></a></li>
            <li class="lista-texto"><a href="#">FUNDACIÓN</a></li>
            <li class="lista-texto"><a href="views/vacantes.html">VACANTES</a></li>
            <li class="lista-texto"><a href="#">CONTACTO</a>
                <ul class="menu-vertical">
                    <li><a href="#">NUESTRA HISTORIA</a></li>
                    <li><a href="#">¿QUIENES SOMOS?</a></li>
                    <li><a href="#">ESTRATEGIA CORPORATIVA</a></li>
                    <li><a href="#">LIDERAZGO</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="contenedor">
        <div class="salud-container">
            <div class="img-silla">
                <img src="../img/divisiones/salud/silal.png" alt="silla">
            </div>
            <div class="img-guantes">
                <img src="../img/divisiones/salud/guantes.png" alt="guantes">
            </div>
            <div class="descripcion-salud">
                <h1>DIVISIÓN <b>SALUD</b></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis consectetur odio error sequi illum
                    laudantium est exercitationem pariatur minus ipsa quae magnam neque, dolorem doloribus dolores
                    repudiandae commodi blanditiis facilis. <br> <br> Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Obcaecati odit in eaque perferendis! Fugiat voluptatibus saepe fuga similique eos
                    accusamus molestias inventore nulla nemo hic iste commodi, distinctio reiciendis enim!</p>
            </div>
        </div>

        <div class="salud-container-segundo">
            <div class="collarin-img">
                <img src="../img/divisiones/salud/collarin.png" alt="collarin">
            </div>
            <div class="reposapies-img">
                <img src="../img/divisiones/salud/reposapies.png" alt="reposapies">
            </div>
            <div class="descripcion-salud-segundo">
                <p>Asumimos el reto, ofreciendo un servicio de calidad en todas las etapas del proceso, gracias a
                    nuestro amplio inventario y extensa red de logistica. Nuestros productos están disponibles los 365
                    días del año, las 24 horas del día para atender las necesidades de nuestros clientes. <br> <br>
                    Actualmente estamos ubicados en Yucatán, Chihuahua y Durango, pero continuamos expandiéndonos a
                    nuevos mercados, priorizando la venta en linea y el sector privado, con el compromiso y calidad que
                    nos caracteriza.</p>
            </div>
            <div class="figuras-img">
                <img src="../img/divisiones/Alimentos/figuras.png" alt="figuras">
            </div>
        </div>
        <footer class="footer">
            <div class="footer-cimarron">
                <div class="footer-logo"><img src="../img/Logo/gc_logo.svg" alt="logo_cimarrón"></div>
                <div class="desc-footer">
                    <p>En Grupo Cimarrón brindamos valor a cada uno de nuestros clientes, a través de soluciones
                        personalizadas en nuestras distintas divisiones, orientadas al sector público y privado.
                        <br><br> Líder en México en la industria alimenticia con más de 37 años de experiencia.
                    </p>
                </div>
                <div class="redes-sociales-footer">
                    <a href="#"><img src="../img/Footer/facebook.svg" alt="facebook"></a>
                    <a href="#"><img src="../img/Footer/instagram.svg" alt="instagram"></a>
                    <a href="#"><img src="../img/Footer/linkedin.svg" alt="linkedin"></a>
                    <a href="#"><img src="../img/Footer/twitter.svg" alt="twitter"></a>
                    <a href="#"><img src="../img/Footer/whatsapp.svg" alt="whatsapp"></a>
                </div>
                <div class="footer-triangulo"><img src="../img/Footer/cima.svg" alt="cima"></div>
            </div>
            <div class="certificaciones">
                <div class="certif-titulo">
                    <p><b>CERTIFICACIONES</b></p>
                </div>
                <div class="certif-img">
                    <img src="../img/Footer/Certificacion01.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion02.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion03.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion04.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion05.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion06.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion07.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion08.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion09.svg" alt="certificacion">
                </div>

            </div>
            <div class="enlaces">
                <div class="enlaces-titulo">
                    <p><b>ENLACES</b></p>
                </div>
                <div class="enlaces-enlaces">
                    <a href="">Noticias</a>
                    <a href="">cimarron.shop</a>
                    <a href="">Facturación Placita Cimarrón</a>
                    <a href="">Facturación Borreguito</a>
                    <a href="">Quejas y sugerencias</a>
                    <a href="">Bolsas de Trabajo</a>
                    <a href="">Contacto</a>
                </div>
                <div class="enlaces-triangulo"><img src="../img/Footer/cima.svg" alt="cima"></div>
            </div>

        </footer>
        <div class="pie-pagina">
            <div class="pie-copy">
                <p>Todos los derechos reservados &copy; <span id="año"></span> Grupo Cimarrón</p>
            </div>
            <div class="pie-aviso">
                <p>Aviso de privacidad | Términos y condiciones</p>
            </div>
        </div>
    </div>
    
    </div>
    <script src="../javascript/navbar.js"></script>
</body>

</html>