<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Division salud</title>
    <link rel="stylesheet" href="../styles/division-seguridad.css">
</head>

<body>
    <div class="contenedor">
        <div class="seguridad-container">
            <div class="img-bomberos">
                <img src="../img/divisiones/Seguridad/bomberos.png" alt="Bomberos">
            </div>
            <div class="img-policia">
                <img src="../img/divisiones/Seguridad/policia.png" alt="Policia">
            </div>
            <div class="descripcion-seguridad">
                <h1>DIVISIÓN SALUD</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis consectetur odio error sequi illum
                    laudantium est exercitationem pariatur minus ipsa quae magnam neque, dolorem doloribus dolores
                    repudiandae commodi blanditiis facilis. <br> <br> Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Obcaecati odit in eaque perferendis! Fugiat voluptatibus saepe fuga similique eos
                    accusamus molestias inventore nulla nemo hic iste commodi, distinctio reiciendis enim!</p>
            </div>
        </div>

        <div class="seguridad-container-segundo">
            <div class="policias-img">
                <img src="../img/divisiones/Seguridad/policias 2.png" alt="Policias">
            </div>
            <div class="bombero-img">
                <img src="../img/divisiones/Seguridad/bomberos 2.png" alt="reposapies">
            </div>
            <div class="descripcion-seguridad-segundo">
                <p>Asumimos el reto, ofreciendo un servicio de calidad en todas las etapas del proceso, gracias a
                    nuestro amplio inventario y extensa red de logistica. Nuestros productos están disponibles los 365
                    días del año, las 24 horas del día para atender las necesidades de nuestros clientes. <br> <br>
                    Actualmente estamos ubicados en Yucatán, Chihuahua y Durango, pero continuamos expandiéndonos a
                    nuevos mercados, priorizando la venta en linea y el sector privado, con el compromiso y calidad que
                    nos caracteriza.</p>
            </div>
            <div class="figuras-img">
                <img src="../img/divisiones/Alimentos/figuras.png" alt="figuras">
            </div>
        </div>
    </div>
</body>

</html>