<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página principal para Grupo Cimarrón">
    <meta name="keywords" content="Dulces, Salud, Confitería, Chocolates, Despensas, Botana, BorreGo, Borreguito, Borreguita, Chihuahua, Delicias, Pistacho, Mundo ">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="GRUPO CIMARRÓN">
    <link rel="icon" type="x-icon" sizes="32x47" href="../img/icono_pagina.png">
    <title>Division salud</title>
    <link rel="stylesheet" href="../styles/division-seguridad.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>

<body>
    <nav class="barra-navegacion" id="navbar">
        <div class="logo-mobile">
            <a href="../index.html"><img src="../img/Logo/gc_logo.svg" alt="logo"></a>
        </div>
        <div class="menu-hamburguesa">
            <button class="hamburguesa-btn">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
        </div>
        <ul class="menu-horizontal">
            <li class="lista-texto"><a href="#">NOSOTROS</a>
                <ul class="menu-vertical">
                    <a href="#">
                        <li>NUESTRA HISTORIA</li>
                    </a>
                    <a href="quienes_somos.html">
                        <li>¿QUIENES SOMOS?</li>
                    </a>
                    <a href="estrategia_corporativa.html">
                        <li>ESTRATEGIA CORPORATIVA</li>
                    </a>
                    <a href="#">
                        <li>LIDERAZGO</li>
                    </a>
                </ul>
            </li>
            <li class="lista-texto"><a href="#">DIVISIONES</a>
                <ul class="menu-vertical">
                    <a href="#">
                        <li>RETAIL</li>
                    </a>
                    <a href="division_alimentos.html">
                        <li>ALIMENTOS</li>
                    </a>
                    <a href="division-salud.html">
                        <li>SALUD</li>
                    </a>
                    <a href="division-seguridad.html">
                        <li>SEGURIDAD</li>
                    </a>
                    <a href="division_tecnologia.html">
                        <li>TECNOLOGÍA</li>
                    </a>
                    <a href="division_escolar.html">
                        <li>ESCOLAR</li>
                    </a>
                </ul>
            </li>
            <li class="lista-texto"><a href="">CONFITERÍA Y BOTANAS</a>
                <ul class="menu-vertical">
                    <a href="#">
                        <li>TRUFFINO</li>
                    </a>
                    <a href="#">
                        <li>GALERIA</li>
                    </a>
                    <a href="https://cimarron.shop/" target="_blank" rel="noopener noreferrer">
                        <li>CIMARRÓN.SHOP</li>
                    </a>
                    <a href="https://sotolcuernos.mx/" target="_blank" rel="noopener noreferrer">
                        <li>SOTOL CUERNOS</li>
                    </a>
                </ul>
            </li>
            <li><a href="../index.html"><img src="../img/Logo/gc_logo.svg" alt="Logo Cimarrón"></a></li>
            <a href="#">
                <li class="lista-texto">FUNDACIÓN
            </a></li>
            <a href="#">
                <li class="lista-texto"><a href="vacantes.html">¡TRABAJA CON NOSOTROS!

                    </a></li>
                <li class="lista-texto"><a href="#">CONTACTO</a>
                    <ul class="menu-vertical">
                        <a href="servicio_al_cliente.html">
                            <li>SERVICIO AL CLIENTE</li>
                        </a>
                        <a href="proveedores.html">
                            <li>PROVEEDORES</li>
                        </a>
                    </ul>
                </li>
        </ul>

        <div class="menu-hamburguesa-responsive">
            <ul class="menu-vertical-responsive">
                <li>NOSOTROS
                    <ul class="menu-vertical-mobile">
                        <a href="#">
                            <li>NUESTRA HISTORIA</li>
                        </a>
                        <a href="quienes_somos.html">
                            <li>¿QUIENES SOMOS?</li>
                        </a>
                        <a href="estrategia_corporativa.html">
                            <li>ESTRATEGIA CORPORATIVA</li>
                        </a>
                        <a href="#">
                            <li>LIDERAZGO</li>
                        </a>
                    </ul>
                </li>
                <li>DIVISIONES
                    <ul class="menu-vertical-mobile">
                        <a href="#">
                            <li>RETAIL</li>
                        </a>
                        <a href="division_alimentos.html">
                            <li>ALIMENTOS</li>
                        </a>
                        <a href="division-salud.html">
                            <li>SALUD</li>
                        </a>
                        <a href="division-seguridad.html">
                            <li>SEGURIDAD</li>
                        </a>
                        <a href="division_tecnologia.html">
                            <li>TECNOLOGÍA</li>
                        </a>
                        <a href="division_escolar.html">
                            <li>ESCOLAR</li>
                        </a>
                    </ul>
                </li>
                <li>CONFITERÍA Y BOTANAS
                    <ul class="menu-vertical-mobile">
                        <a href="#">
                            <li>TRUFFINO</li>
                        </a>
                        <a href="#">
                            <li>GALERIA</li>
                        </a>
                        <a href="https://cimarron.shop/" target="_blank">
                            <li>CIMARRÓN.SHOP</li>
                        </a>
                        <a href="https://sotolcuernos.mx/" target="_blank">
                            <li>SOTOL CUERNOS</li>
                        </a>
                    </ul>
                </li>
                <a href="#">
                    <li>FUNDACIÓN</li>
                </a>
                <a href="vacantes.html"><li>TRABAJA CON NOSOTROS</li></a>
                <li>CONTACTO
                    <ul class="menu-vertical-mobile">
                        <a href="servicio_al_cliente.html">
                            <li>SERVICIO AL CLIENTE</li>
                        </a>
                        <a href="proveedores.html">
                            <li>PROVEEDORES</li>
                        </a>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="seguridad-container">
            <div class="img-bomberos">
                <img src="../img/Divisiones/Seguridad/bomberos.png" alt="Bomberos">
            </div>
            <div class="img-policia">
                <img src="../img/Divisiones/Seguridad/policia.png" alt="Policia">
            </div>
            <div class="descripcion-seguridad">
                <h1>DIVISIÓN <span class="destacado">SEGURIDAD</span> </h1>
                <p>En los últimos años, el equipamiento a policías y bomberos ha sido una estrategia promovida por los
                    gobiernos municipales, estatales y federal para dignificar al personal de seguridad pública e
                    incrementar los niveles de confianza en las corporaciones. <br> <br> Es por lo anterior que, en 2021
                    nace la División de Seguridad, enfocada en la comercialización de uniformes, accesorios y calzado
                    para bomberos y policías, fabricados por marcas líderes a nivel internacional, cuya protección y
                    calidad está garantizada.</p>
            </div>
        </div>

        <div class="seguridad-container-segundo">
            <div class="policias-img">
                <img src="../img/Divisiones/Seguridad/policias 2.png" alt="Policias">
            </div>
            <div class="bombero-img">
                <img src="../img/Divisiones/Seguridad/bomberos 2.png" alt="Bomberos">
            </div>
            <div class="descripcion-seguridad-segundo">
                <p>La satisfacción de nuestros usuarios nos respalda, pero nuestra misión no acaba ahí, estamos
                    convencidos de que brindar equipo de calidad para el personal de seguridad es un menester tanto de
                    las organizaciones públicas como privadas, por lo que constantemente nos encontramos trabajando para
                    ofrecer más canales de venta que nos permitan satisfacer las necesidades del mercado.</p>
            </div>
            <div class="figuras-img">
                <img src="../img/Divisiones/Alimentos/figuras.png" alt="figuras">
            </div>
        </div>
        <footer class="footer">
            <div class="footer-cimarron">
                <div class="footer-logo"><img src="../img/Logo/gc_logo.svg" alt="logo_cimarrón"></div>
                <div class="desc-footer">
                    <p>En Grupo Cimarrón brindamos valor a cada uno de nuestros clientes, a través de soluciones
                        personalizadas en nuestras distintas divisiones, orientadas al sector público y privado.
                        <br><br> Líder en México en la industria alimenticia con más de 37 años de experiencia.
                    </p>
                </div>
                <div class="redes-sociales-footer">
                    <a href="#"><img src="../img/Footer/facebook.svg" alt="facebook"></a>
                    <a href="#"><img src="../img/Footer/instagram.svg" alt="instagram"></a>
                    <a href="#"><img src="../img/Footer/linkedin.svg" alt="linkedin"></a>
                    <a href="#"><img src="../img/Footer/twitter.svg" alt="twitter"></a>
                    <a href="#"><img src="../img/Footer/whatsapp.svg" alt="whatsapp"></a>
                </div>
                <div class="footer-triangulo"><img src="../img/Footer/cima.svg" alt="cima"></div>
            </div>
            <div class="certificaciones">
                <div class="certif-titulo">
                    <p><b>CERTIFICACIONES</b></p>
                </div>
                <div class="certif-img">
                    <img src="../img/Footer/Certificacion01.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion02.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion03.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion04.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion05.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion06.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion07.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion08.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion09.svg" alt="certificacion">
                </div>

            </div>
            <div class="enlaces">
                <div class="enlaces-titulo">
                    <p><b>ENLACES</b></p>
                </div>
                <div class="enlaces-enlaces">
                    <a href="">Noticias</a>
                    <a href="">cimarron.shop</a>
                    <a href="">Facturación Placita Cimarrón</a>
                    <a href="">Facturación Borreguito</a>
                    <a href="">Quejas y sugerencias</a>
                    <a href="">Bolsas de Trabajo</a>
                    <a href="">Contacto</a>
                </div>
                <div class="enlaces-triangulo"><img src="../img/Footer/cima.svg" alt="cima"></div>
            </div>

        </footer>
        <div class="pie-pagina">
            <div class="pie-copy">
                <p>Todos los derechos reservados &copy; <span id="año"></span> Grupo Cimarrón</p>
            </div>
            <div class="pie-aviso">
                <p>Aviso de privacidad | Términos y condiciones</p>
            </div>
        </div>
    </div>
    <script src="../javascript/navbar.js"></script>
</body>

</html>