<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página principal para Grupo Cimarrón">
    <meta name="keywords"
        content="Dulces, Salud, Confitería, Chocolates, Despensas, Botana, BorreGo, Borreguito, Borreguita, Chihuahua, Delicias, Pistacho, Mundo ">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="GRUPO CIMARRÓN">
    <link rel="icon" type="x-icon" sizes="32x47" href="../img/icono_pagina.png">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/estrategia_corporativa.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <title>Estrategia corporativa</title>
</head>

<body>
    <nav class="barra-navegacion" id="navbar">
        <div class="logo-mobile">
            <a href="../index.html"><img src="../img/Logo/gc_logo.svg" alt="logo"></a>
        </div>
        <div class="menu-hamburguesa">
            <button class="hamburguesa-btn">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
        </div>
        <ul class="menu-horizontal">
            <li class="lista-texto">
                <a href="#">NOSOTROS</a>
                <ul class="menu-vertical">
                    <li><a href="nuestra-historia.html">NUESTRA HISTORIA</a></li>
                    <li><a href="quienes_somos.html">¿QUIENES SOMOS?</a></li>
                    <li><a href="estrategia_corporativa.html">ESTRATEGIA CORPORATIVA</a></li>
                </ul>
            </li>
            <li class="lista-texto">
                <a href="#">DIVISIONES</a>
                <ul class="menu-vertical">
                    <li>
                        <a href="retail.html">RETAIL</a>
                        <ul class="submenu-desktop">
                            <li class="submenu-item"><a href="Borreguito.html">BORREGUITO</a></li>
                            <li class="submenu-item"><a href="Borreguita.html">BORREGUITA</a></li>
                            <li class="submenu-item"><a href="BorreGO.html">BORREGO!</a></li>
                            <li class="submenu-item"><a href="placita-cimarron.html">PLACITA CIMARRÓN</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="division_alimentos.html">ALIMENTOS</a>
                        <ul class="submenu-desktop">
                            <li class="submenu-item"><a href="comedores.html">COMEDORES</a></li>
                        </ul>
                    </li>
                    <li><a href="division-salud.html">SALUD</a></li>
                    <li><a href="division-seguridad.html">SEGURIDAD</a></li>
                    <li><a href="division_tecnologia.html">TECNOLOGÍA</a></li>
                    <li><a href="division_escolar.html">ESCOLAR</a></li>
                    <li>
                        <a href="confiteria.html">CONFITERIA</a>
                        <ul class="submenu-desktop">
                            <li class="submenu-item"><a href="truffino.html">TRUFFINO</a></li>
                            <li class="submenu-item"><a href="galeria.html">GALERIA</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="lista-texto">
                <a href="#">TIENDA EN LINEA</a>
                <ul class="menu-vertical">
                    <li><a href="https://cimarron.shop/" target="_blank" rel="noopener noreferrer">CIMARRÓN.SHOP</a></li>
                    <li><a href="https://sotolcuernos.mx/" target="_blank" rel="noopener noreferrer">SOTOL CUERNOS</a></li>
                </ul>
            </li>
            <li><a href="../index.html"><img src="../img/Logo/gc_logo.svg" alt="Logo Cimarrón"></a></li>
            <li class="lista-texto"><a href="fundacion.html">FUNDACIÓN</a></li>
            <li class="lista-texto"><a href="vacantes.html">¡TRABAJA CON NOSOTROS!</a></li>
            <li class="lista-texto">
                <a href="#">CONTACTO</a>
                <ul class="menu-vertical">
                    <li><a href="servicio_al_cliente.html">SERVICIO AL CLIENTE</a></li>
                    <li><a href="proveedores.html">PROVEEDORES</a></li>
                </ul>
            </li>
        </ul>
        <div class="menu-hamburguesa-responsive">
            <ul class="menu-vertical-responsive">
                <li>NOSOTROS
                    <ul class="menu-vertical-mobile">
                       
                            <li> <a href="nuestra-historia.html">NUESTRA HISTORIA</a></li>

                        
                            <li><a href="quienes_somos.html">¿QUIENES SOMOS?</a></li>

                        
                            <li><a href="estrategia_corporativa.html">ESTRATEGIA CORPORATIVA</a></li>

                    </ul>
                </li>
                <li>DIVISIONES
                    <ul class="menu-vertical-mobile">
                    
                            <li class="has-submenu">RETAIL
                                <ul class="submenu-segundo">
                                    <li><a href="placita-cimarron.html">PLACITA CIMARRÓN</a></li>
                                    <li><a href="Borreguito.html">BORREGUITO</a></li>
                                    <li><a href="Borreguita.html">BORREGUITA</a></li>
                                    <li><a href="BorreGO.html">BORRE GO!</a></li>
                                    <li><a href="retail.html">RETAIL</a></li>
                                </ul>
                            </li>

                        
                            <li class="has-submenu">ALIMENTOS
                                <ul class="submenu-segundo">
                                    <li><a href="comedores.html">COMEDORES</a></li>
                                    <li><a href="division_alimentos.html">ALIMENTOS</a></li>
                                </ul>
                            </li>

                        
                            <li><a href="division-salud.html">SALUD</a></li>

                        
                            <li><a href="division-seguridad.html">SEGURIDAD</a></li>

                        
                            <li><a href="division_tecnologia.html">TECNOLOGÍA</a></li>

                        
                            <li><a href="division_escolar.html">ESCOLAR</a></li>

                            <li class="has-submenu">CONFITERIA
                                <ul class="submenu-segundo">
                                    <li><a href="truffino.html">TRUFFINO</a></li>
                                    <li><a href="galeria.html">GALERIA</a></li>
                                    <li><a href="confiteria.html">CONFITERIA</a></li>
                                </ul>
                            </li>

                    </ul>
                </li>
                <li>TIENDA EN LINEA
                    <ul class="menu-vertical-mobile">
                        
                            <li><a href="https://cimarron.shop/" target="_blank">CIMARRÓN.SHOP</a></li>
                        
                            <li><a href="https://sotolcuernos.mx/" target="_blank">SOTOL CUERNOS</a></li>
                        
                    </ul>
                </li>
                
                <li><a href="fundacion.html">FUNDACIÓN</a></li>
                <li><a href="vacantes.html">TRABAJA CON NOSOTROS</a></li>
                <li>CONTACTO
                    <ul class="menu-vertical-mobile">
                        
                            <li><a href="servicio_al_cliente.html">SERVICIO AL CLIENTE</a></li>
                        
                            <li><a href="proveedores.html">PROVEEDORES</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="grid-estrategia">
            <div class="titulo-estrategia">
                <h1><b>ESTRATEGIA <br> CORPORATIVA</b></h1>
            </div>
            <div class="aspiracion-texto">
                <h1>ASPIRACIÓN <br> GANADORA</h1>
                <p>Aspiramos a ser una de las 100 empresas más importantes de México y para ello, creamos soluciones a
                    la medida con el más alto valor para nuestros clientes y consumidores, convertimos retos en
                    oportunidades rentables y hacemos grandes cosas para llegar en el 2040 a más de 12 millones de
                    personas y ser esa empresa que se mantiene ¡Siempre en la cima!</p>
            </div>

            <div class="imagen-estrategia">
                <img src="../img/Estrategia_corporativa/foto_estrategia.png" alt="estrategia">
            </div>
            <div class="decoracion">
                <img src="../img/Estrategia_corporativa/escalones.png" alt="escalones">
            </div>
            <div class="triangulo-naranja">
                <img src="../img/Estrategia_corporativa/flecha02.svg" alt="flecha_naranja">
            </div>
            <div class="triangulo-azul">
                <img src="../img/Estrategia_corporativa/flecha01.svg" alt="flecha_azul">
            </div>
            <div class="triangulo-azul-arriba">
                <img src="../img/Estrategia_corporativa/flecha03.svg" alt="flecha_azul-arriba">
            </div>

            <div class="deco-movil">
            </div>
            <div class="deco-movil2">
            </div>
        </div>
        <footer class="footer">
            <div class="footer-cimarron">
                <div class="footer-logo"><img src="../img/Logo/gc_logo.svg" alt="logo_cimarrón"></div>
                <div class="desc-footer">
                    <p>En Grupo Cimarrón brindamos valor a cada uno de nuestros clientes, a través de soluciones
                        personalizadas en nuestras distintas divisiones, orientadas al sector público y privado.
                        <br><br> Líder en México en la industria alimenticia con más de 39 años de experiencia.
                    </p>
                </div>
                <div class="redes-sociales-footer">
                    <a href="https://www.facebook.com/grupocimarronmx/?locale=es_LA" target="_blank"><img src="../img/Footer/facebook.svg" alt="facebook"></a>
                    <a href="https://www.instagram.com/grupocimarron/?hl=es-la" target="_blank"><img src="../img/Footer/instagram.svg" alt="instagram"></a>
                    <a href="https://mx.linkedin.com/company/grupocimarronmx" target="_blank"><img src="../img/Footer/linkedin.svg" alt="linkedin"></a>
                    <a href="https://twitter.com/grupocimarron1?lang=es" target="_blank"><img src="../img/Footer/twitter.svg" alt="twitter"></a>
                    <a href="#"><img src="../img/Footer/whatsapp.svg" alt="whatsapp"></a>
                </div>
                <div class="footer-triangulo"><img src="../img/Footer/cima.svg" alt="cima"></div>
            </div>
            <div class="certificaciones">
                <div class="certif-titulo">
                    <p><b>CERTIFICACIONES</b></p>
                </div>
                <div class="certif-img">
                    <img src="../img/Footer/Certificacion01.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion02.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion03.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion04.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion05.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion06.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion07.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion08.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion09.svg" alt="certificacion">
                </div>

            </div>
            <div class="enlaces">
                <div class="enlaces-titulo">
                    <p><b>ENLACES</b></p>
                </div>
                <div class="enlaces-enlaces">
                    <a href="../index.html#nuevo">Noticias</a>
                    <a href="https://cimarron.shop/">cimarron.shop</a>
                    <a href="#">Facturación Placita Cimarrón</a>
                    <a href="#">Facturación Borreguito</a>
                    <a href="#">Quejas y sugerencias</a>
                    <a href="vacantes.html">Bolsas de Trabajo</a>
                    <a href="servicio_al_cliente.html">Contacto</a>
                </div>
                <div class="enlaces-triangulo"><img src="../img/Footer/cima.svg" alt="cima"></div>
            </div>

        </footer>
        <div class="pie-pagina">
            <div class="pie-copy">
                <p>Todos los derechos reservados &copy; <span id="año"></span> Grupo Cimarrón</p>
            </div>
            <div class="pie-aviso">
                <p>Aviso de privacidad | Términos y condiciones</p>
            </div>
        </div>
    </div>

    <script src="../javascript/navbar.js"></script>
</body>

</html>