<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página principal para Grupo Cimarrón">
    <meta name="keywords"
        content="Dulces, Salud, Confitería, Chocolates, Despensas, Botana, BorreGo, Borreguito, Borreguita, Chihuahua, Delicias, Pistacho, Mundo ">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="GRUPO CIMARRÓN">
    <link rel="icon" type="x-icon" sizes="32x47" href="../img/icono_pagina.png">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/fundacion.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <title>Fundación Cimarrón</title>
</head>

<body>
    <div class="container">
        <div class="diseno-movil">
            <div class="titulo-fundacion-mobile">
                <h1>FUNDACIÓN <br><span class="destacado-fundacion">CIMARRÓN</span></h1>
            </div>
            <div class="img-fundacion">
                <img src="../img/Fundacion/fundacion-img.png" alt="fundacion">
            </div>
            <div class="texto-fundacion">
                <p>En 2023, Grupo Cimarrón empresa reconocida desde su creación por contribuir al desarrollo social de
                    la comunidad chihuahuense, formaliza sus acciones de labor social a través de la constitución de
                    Fundación Cimarrón con el propósito de brindar apoyo entorno a tres ejes rectores: educación,
                    alimentación y salud.</p>
            </div>
            <div class="img-fundacion-2">
                <img src="../img/Fundacion/Grupo 231.png" alt="Tania-fundacion">
            </div>
            <div class="texto-2">
                <p>El mismo año, Fundación Cimarrón es acreditada como donataria autorizada, tratamiento que le permite
                    trabajar de la mano de diversos benefactores para sumar esfuerzos y llegar a todos los mexicanos que
                    lo necesitan. <br><br> A la fecha, Fundación Cimarrón ha sido cómplice de diversas organizaciones de
                    la sociedad civil con la que comparte valores, como la empatía, la motivación y el compromiso para
                    que niños y niñas de todo México puedan tener acceso a los insumos y materiales adecuados para
                    continuar su formación académica, así como de gozar de una mejor calidad de vida.</p>
            </div>
        </div>
    </div>
</body>

</html>