<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página principal para Grupo Cimarrón">
    <meta name="keywords"
        content="Dulces, Salud, Confitería, Chocolates, Despensas, Botana, BorreGo, Borreguito, Borreguita, Chihuahua, Delicias, Pistacho, Mundo ">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="GRUPO CIMARRÓN">
    <link rel="icon" type="x-icon" sizes="32x47" href="../img/icono_pagina.png">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/galeria.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <title>Galería</title>
</head>

<body>
    <nav class="barra-navegacion" id="navbar">
        <div class="logo-mobile">
            <a href="../index.html"><img src="../img/Logo/gc_logo.svg" alt="logo"></a>
        </div>
        <div class="menu-hamburguesa">
            <button class="hamburguesa-btn">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
        </div>
        <ul class="menu-horizontal">
            <li class="lista-texto">
                <a href="#">NOSOTROS</a>
                <ul class="menu-vertical">
                    <li><a href="nuestra-historia.html">NUESTRA HISTORIA</a></li>
                    <li><a href="quienes_somos.html">¿QUIENES SOMOS?</a></li>
                    <li><a href="estrategia_corporativa.html">ESTRATEGIA CORPORATIVA</a></li>
                </ul>
            </li>
            <li class="lista-texto">
                <a href="#">DIVISIONES</a>
                <ul class="menu-vertical">
                    <li>
                        <a href="retail.html">RETAIL</a>
                        <ul class="submenu-desktop">
                            <li class="submenu-item"><a href="Borreguito.html">BORREGUITO</a></li>
                            <li class="submenu-item"><a href="Borreguita.html">BORREGUITA</a></li>
                            <li class="submenu-item"><a href="BorreGO.html">BORREGO!</a></li>
                            <li class="submenu-item"><a href="placita-cimarron.html">PLACITA CIMARRÓN</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="division_alimentos.html">ALIMENTOS</a>
                        <ul class="submenu-desktop">
                            <li class="submenu-item"><a href="comedores.html">COMEDORES</a></li>
                        </ul>
                    </li>
                    <li><a href="division-salud.html">SALUD</a></li>
                    <li><a href="division-seguridad.html">SEGURIDAD</a></li>
                    <li><a href="division_tecnologia.html">TECNOLOGÍA</a></li>
                    <li><a href="division_escolar.html">ESCOLAR</a></li>
                    <li>
                        <a href="confiteria.html">CONFITERIA</a>
                        <ul class="submenu-desktop">
                            <li class="submenu-item"><a href="truffino.html">TRUFFINO</a></li>
                            <li class="submenu-item"><a href="galeria.html">GALERIA</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="lista-texto">
                <a href="#">TIENDA EN LINEA</a>
                <ul class="menu-vertical">
                    <li><a href="https://cimarron.shop/" target="_blank" rel="noopener noreferrer">CIMARRÓN.SHOP</a></li>
                    <li><a href="https://sotolcuernos.mx/" target="_blank" rel="noopener noreferrer">SOTOL CUERNOS</a></li>
                </ul>
            </li>
            <li><a href="../index.html"><img src="../img/Logo/gc_logo.svg" alt="Logo Cimarrón"></a></li>
            <li class="lista-texto"><a href="fundacion.html">FUNDACIÓN</a></li>
            <li class="lista-texto"><a href="vacantes.html">¡TRABAJA CON NOSOTROS!</a></li>
            <li class="lista-texto">
                <a href="#">CONTACTO</a>
                <ul class="menu-vertical">
                    <li><a href="servicio_al_cliente.html">SERVICIO AL CLIENTE</a></li>
                    <li><a href="proveedores.html">PROVEEDORES</a></li>
                </ul>
            </li>
        </ul>
        <div class="menu-hamburguesa-responsive">
            <ul class="menu-vertical-responsive">
                <li>NOSOTROS
                    <ul class="menu-vertical-mobile">
                       
                            <li> <a href="nuestra-historia.html">NUESTRA HISTORIA</a></li>

                        
                            <li><a href="quienes_somos.html">¿QUIENES SOMOS?</a></li>

                        
                            <li><a href="estrategia_corporativa.html">ESTRATEGIA CORPORATIVA</a></li>

                    </ul>
                </li>
                <li>DIVISIONES
                    <ul class="menu-vertical-mobile">
                    
                            <li class="has-submenu">RETAIL
                                <ul class="submenu-segundo">
                                    <li><a href="placita-cimarron.html">PLACITA CIMARRÓN</a></li>
                                    <li><a href="Borreguito.html">BORREGUITO</a></li>
                                    <li><a href="Borreguita.html">BORREGUITA</a></li>
                                    <li><a href="BorreGO.html">BORRE GO!</a></li>
                                    <li><a href="retail.html">RETAIL</a></li>
                                </ul>
                            </li>

                        
                            <li class="has-submenu">ALIMENTOS
                                <ul class="submenu-segundo">
                                    <li><a href="comedores.html">COMEDORES</a></li>
                                    <li><a href="division_alimentos.html">ALIMENTOS</a></li>
                                </ul>
                            </li>

                        
                            <li><a href="division-salud.html">SALUD</a></li>

                        
                            <li><a href="division-seguridad.html">SEGURIDAD</a></li>

                        
                            <li><a href="division_tecnologia.html">TECNOLOGÍA</a></li>

                        
                            <li><a href="division_escolar.html">ESCOLAR</a></li>

                            <li class="has-submenu">CONFITERIA
                                <ul class="submenu-segundo">
                                    <li><a href="truffino.html">TRUFFINO</a></li>
                                    <li><a href="galeria.html">GALERIA</a></li>
                                    <li><a href="confiteria.html">CONFITERIA</a></li>
                                </ul>
                            </li>

                    </ul>
                </li>
                <li>TIENDA EN LINEA
                    <ul class="menu-vertical-mobile">
                        
                            <li><a href="https://cimarron.shop/" target="_blank">CIMARRÓN.SHOP</a></li>
                        
                            <li><a href="https://sotolcuernos.mx/" target="_blank">SOTOL CUERNOS</a></li>
                        
                    </ul>
                </li>
                
                <li><a href="fundacion.html">FUNDACIÓN</a></li>
                <li><a href="vacantes.html">TRABAJA CON NOSOTROS</a></li>
                <li>CONTACTO
                    <ul class="menu-vertical-mobile">
                        
                            <li><a href="servicio_al_cliente.html">SERVICIO AL CLIENTE</a></li>
                        
                            <li><a href="proveedores.html">PROVEEDORES</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="desktop">
        <div class="primer-grid-gale">
            <div class="imagen-gale">
                <img src="../img/galeria/logo_galeria.svg" alt="logo galeria">
            </div>
            <div class="datos-gale">
                <div class="alianzas">
                    <p>Alianzas con <span class="destacado">Disney, <br> Star Wars, Marvel</span> y más</p>
                </div>
                <div class="datos-numeros">
                    <p>Más de <br> <span class="destacado-numero">24</span></p>
                    <p>años en <br> México</p>
                </div>
            </div>
            <div class="historia-gale">
                <p>Desde 2000 Galería ofrece una experiencia única en el consumo de confitería en México, cuando Richard
                    Ross, apasionado del dulce y fundador de Galerie USA en 1976, decide abrir sucursales fuera de
                    Estados Unidos. <br> <br> La empresa mexicana es experta en una amplia gama de productos de regalo,
                    dulces y especialidades de temporada, como juguetes interactivos, cerámica, felpa y hojalata que
                    combinan la innovación, la calidad, la tecnología y la creatividad. </p>
            </div>
        </div>
        <div class="segundo-grid-gale">
            <div class="producc-gale">
                <img src="../img/galeria/Enmascarar grupo 73/Enmascarar grupo 73.png" alt="">
            </div>
            <div class="segundo-texto-gale">
                <p>Galería del Chocolate es reconocida por su capacidad de producción y diseño inigualable, lanzando
                    cientos de artículos al año a través del uso de marcas de dulces internacionales, así como
                    personajes de Disney, Star Wars, Destroyer, entre otros. <br> <br> Actualmente, la empresa
                    distribuye sus productos con los principales minoristas y tiendas departamentales del país. </p>
            </div>
            <div class="img-redes">
                <div class="imagen-galeria">
                    <img src="../img/galeria/Enmascarar grupo 72 (1)/Enmascarar grupo 72.png" alt="">
                </div>
                <div class="redes-gale">
                    <a href=""><img src="../img/galeria/Capa_x0020_1 (1)/Capa_x0020_1.png" alt="web"></a>
                    <a href=""><img src="../img/galeria/Capa_x0020_1 (2)/Capa_x0020_1.png" alt="facebook"></a>
                    <a href=""><img src="../img/galeria/Capa_x0020_1 (3)/Capa_x0020_1.png" alt="instagram"></a>
                </div>
            </div>
            <div class="triangulos">
                <img src="../img/galeria/Grupo 225.png" alt="triangulos">
            </div>
        </div>
    </div>

    <div class="mobile">
        <div class="logo-mobile-gale">
            <img src="../img/galeria/_2504341853024.svg" alt="logo">
        </div>
        <div class="gale-info-mobile">
            <p>Alianzas con <br><span class="destacado">Disney, Star <br> Wars, Marvel</span><br>y más</p>
            <p>Más de <br><span class="destacado-numero">24</span><br>años en <br>México</p>
        </div>
        <div class="texto-mobile-gale">
            <p>Fundada en 1919 por Gary McKim, Truffino es una empresa dedicada a la fabricación y comercialización
                de chocolate y sus derivados, reconocidos por su calidad premium y sus empaques de temporada, a
                través de 11 marcas de importante tradición en el mercado, entre las que destacan Rucas, Lady
                Baltimore, Mckim y Coskitas. <br> <br> En 2024, Truffino se incorpora a Grupo Cimarrón como parte de
                la estrategia del conglomerado chihuahuense para expandir su presencia en el mercado de confitería y
                chocolates.</p>
        </div>
        <div class="galeria-img-mobile">
            <img src="../img/galeria/Enmascarar grupo 73/mobile.png" alt="chocolate">
        </div>
        <div class="texto-mobile-gale-2">
            <p>La planta de Truffino, así como tres tiendas boutique en las que se pueden adquirir todos los
                productos de las distintas marcas, están ubicadas en la Zona Metropolitana de la Ciudad de México.
                <br> <br>La empresa cuenta con certificaciones de clase mundial, que garantizan la conservación,
                frescura y sanidad de sus productos, como la ISO 9001, reconocida a nivel internacional para
                sistemas de gestión de calidad; SQF II, para Seguridad Alimentaria, así como Sedex-Smeta,
                metodología que reconoce las prácticas éticas en la cadena de suministro y la Responsabilidad Social
                Empresarial.</p>
        </div>
        <div class="galeria-img-mobile">
            <img src="../img/galeria/Enmascarar grupo 72 (1)/Enmascarar grupo 72.png" alt="chocolate">
        </div>
        <div class="galeria-img-mobile">
            <img src="../img/galeria/Grupo 225 (2)/Grupo 225.png" alt="decoracion">
        </div>
        <div class="redes-mobile-galeria">
            <a href="#"><img src="../img/galeria/Capa_x0020_1 (1)/Capa_x0020_1.png" alt="redes"></a>
            <a href="#"><img src="../img/galeria/Capa_x0020_1 (2)/Capa_x0020_1.png" alt="redes"></a>
            <a href="#"><img src="../img/galeria/Capa_x0020_1 (3)/Capa_x0020_1.png" alt="redes"></a>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-cimarron">
            <div class="footer-logo"><img src="../img/Logo/gc_logo.svg" alt="logo_cimarrón"></div>
            <div class="desc-footer">
                <p>En Grupo Cimarrón brindamos valor a cada uno de nuestros clientes, a través de soluciones
                    personalizadas en nuestras distintas divisiones, orientadas al sector público y privado.
                    <br><br> Líder en México en la industria alimenticia con más de 39 años de experiencia.
                </p>
            </div>
            <div class="redes-sociales-footer">
                <a href="https://www.facebook.com/grupocimarronmx/?locale=es_LA" target="_blank"><img src="../img/Footer/facebook.svg" alt="facebook"></a>
                <a href="https://www.instagram.com/grupocimarron/?hl=es-la" target="_blank"><img src="../img/Footer/instagram.svg" alt="instagram"></a>
                <a href="https://mx.linkedin.com/company/grupocimarronmx" target="_blank"><img src="../img/Footer/linkedin.svg" alt="linkedin"></a>
                <a href="https://twitter.com/grupocimarron1?lang=es" target="_blank"><img src="../img/Footer/twitter.svg" alt="twitter"></a>
                <a href="#"><img src="../img/Footer/whatsapp.svg" alt="whatsapp"></a>
            </div>
            <div class="footer-triangulo"><img src="../img/Footer/cima.svg" alt="cima"></div>
        </div>
        <div class="certificaciones">
            <div class="certif-titulo">
                <p><b>CERTIFICACIONES</b></p>
            </div>
            <div class="certif-img">
                <img src="../img/Footer/Certificacion01.svg" alt="certificacion">
                <img src="../img/Footer/certificacion02.svg" alt="certificacion">
                <img src="../img/Footer/certificacion03.svg" alt="certificacion">
                <img src="../img/Footer/certificacion04.svg" alt="certificacion">
                <img src="../img/Footer/certificacion05.svg" alt="certificacion">
                <img src="../img/Footer/certificacion06.svg" alt="certificacion">
                <img src="../img/Footer/certificacion07.svg" alt="certificacion">
                <img src="../img/Footer/certificacion08.svg" alt="certificacion">
                <img src="../img/Footer/certificacion09.svg" alt="certificacion">
            </div>

        </div>
        <div class="enlaces">
            <div class="enlaces-titulo">
                <p><b>ENLACES</b></p>
            </div>
            <div class="enlaces-enlaces">
                <a href="../index.html#nuevo">Noticias</a>
                <a href="https://cimarron.shop/">cimarron.shop</a>
                <a href="#">Facturación Placita Cimarrón</a>
                <a href="#">Facturación Borreguito</a>
                <a href="#">Quejas y sugerencias</a>
                <a href="vacantes.html">Bolsas de Trabajo</a>
                <a href="servicio_al_cliente.html">Contacto</a>
            </div>
            <div class="enlaces-triangulo"><img src="../img/Footer/cima.svg" alt="cima"></div>
        </div>

    </footer>
    <div class="pie-pagina">
        <div class="pie-copy">
            <p>Todos los derechos reservados &copy; <span id="año"></span> Grupo Cimarrón</p>
        </div>
        <div class="pie-aviso">
            <p>Aviso de privacidad | Términos y condiciones</p>
        </div>
    </div>
    </div>
    <script src="../javascript/navbar.js"></script>
</body>

</html>