<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../styles/navbar.css"> -->
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/quienes_somos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <title>Grupo Cimarrón</title>
</head>

<body>

    <nav class="barra-navegacion">
        <ul class="menu-horizontal">
            <li class="lista-texto"><a href="#">NOSOTROS</a>
                <ul class="menu-vertical">
                    <li><a href="#">NUESTRA HISTORIA</a></li>
                    <li><a href="#">¿QUIENES SOMOS?</a></li>
                    <li><a href="#">ESTRATEGIA CORPORATIVA</a></li>
                    <li><a href="#">LIDERAZGO</a></li>
                </ul>
            </li>
            <li class="lista-texto"><a href="#">DIVISIONES</a>
                <ul class="menu-vertical">
                    <li><a href="#">RETAIL</a></li>
                    <li><a href="#">ALIMENTOS</a></li>
                    <li><a href="#">SALUD</a></li>
                    <li><a href="#">SEGURIDAD</a></li>
                    <li><a href="#">TECNOLOGÍA</a></li>
                    <li><a href="#">ESCOLAR</a></li>
                </ul>
            </li>
            <li class="lista-texto"><a href="#">PRODUCTOS</a>

                <ul class="menu-vertical">
                    <li><a href="#">CIMARRÓN.SHOP</a></li>
                    <li><a href="#">SOTOL CUERNOS</a></li>
                    <li><a href="#">MAYOREO</a></li>
                </ul>

            </li>
            <li><a href="../index.html"><img src="../img/Logo/gc_logo.svg" alt="Logo Cimarrón"></li></a>
            <li class="lista-texto"><a href="#">FUNDACIÓN</a></li>
            <li class="lista-texto"><a href="#">VACANTES</a></li>
            <li class="lista-texto"><a href="#">CONTACTO</a>
                <ul class="menu-vertical">
                    <li><a href="#">NUESTRA HISTORIA</a></li>
                    <li><a href="#">¿QUIENES SOMOS?</a></li>
                    <li><a href="#">ESTRATEGIA CORPORATIVA</a></li>
                    <li><a href="#">LIDERAZGO</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="contenedor">
        <section class="quienes-somos">
            <div class="row">
                <div class="quienes-img-ppal col-md-12">
                    <img src="../img/QuienesSomos/Enmascarar grupo 83.png" alt="Grupo Cimarrón">
                    <h1><b>¿QUIÉNES</b></h1>
                    <h2>SOMOS?</h2>
                    <div><img src="../img/QuienesSomos/Capa_x0020_1.svg" alt="triangulo arriba"
                            class="triangulo-cremita-arriba"></div>
                </div>
                <div class="quienes-descripcion col-md-8">
                    <div class="descr pt-3">
                        <p>Somos Grupo Cimarrón, una empresa comprometida contigo desde 1985. en ciudad Delicias,
                            Chihuahua dimos nuestros primeros pasos como una comercializadora de pistachos. A lo largo
                            de los años hemos crecido en la industria Alimentaria en México, trazando camino hacia
                            nuevas fronteras e industrias <br><br> Con un orgullo mexicano y un arraigo chihuahuense, en
                            Grupo Cimarrón avanzamos junto a ti, forjando un legado audaz mientras dejamos huellas en
                            cada etapa de nuestra historia, y en cada paso que damos escalamos contigo.</p>
                    </div>
                    <div class="triangulo-quienes">
                        <img src="../img/QuienesSomos/triangulo_abajo.png" alt="triangulo_abajo">
                    </div>
                </div>
                <div class="escaleras-quienes col-md-4">
                    <img src="../img/QuienesSomos/escalera_naranja.png" alt="escalera_naranja"
                        class="escalones-quienes">
                    <img src="../img/QuienesSomos/triangulo arriba.png" alt="triangulo arriba"
                        class="triangulo-arriba-quienes">
                </div>
            </div>
        </section>

        <section class="recuadros-colores">
            <div class="row">
                <div class="adn-cimarron col-md-12">
                    <div class="row">
                        <div class="col-md-4 titulo-adn">
                            <p>ADN <br> CIMARRÓN</p>
                            <img src="../img/QuienesSomos/flecha blancaCapa_x0020_1.png" alt="flecha adn"
                                class="flecha-adn">
                        </div>
                        <div class="col-md-4 lista-adn">
                            <ol>
                                <li>Ten enfoque en las necesidades del cliente.</li>
                                <li class="mt-3">Cumple tus compromisos.</li>
                                <li class="mt-3">Anticipa las necesidades.</li>
                                <li class="mt-3">Se rápido.</li>
                            </ol>
                        </div>
                        <div class="col-md-4 lista-adn">
                            <ol start="5">
                                <li class="mt-3">Fomenta la comunicación.</li>
                                <li class="mt-3">Toma decisiones con base a data.</li>
                                <li class="mt-3">Demuestra rendición de cuentas individual y en equipo.</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="vision-cimarron col-md-12">
                    <div class="row">
                        <div class="col-md-6 descripcion-vision d-flex justify-content-end align-items-center">
                            <p class="text-end">Ser uno de los 100 conglomerados más <br> importantes de México</p>
                        </div>
                        <div class="col-md-6 titulo-vision d-flex justify-content-start align-items-center">
                            <img src="../img/QuienesSomos/flecha al revezCapa_x0020_1.png" alt="flecha vision"
                                class="flecha-adn mx-5">
                            <p>VISIÓN <br> CIMARRÓN</p>
                        </div>
                    </div>
                </div>

                <div class="mision-cimarron col-md-12">
                    <div class="row">
                        <div class="col-md-6 titulo-mision d-flex justify-content-end align-items-center">
                            <p class="text-end">MISIÓN <br> CIMARRÓN</p>
                            <img src="../img/QuienesSomos/flecha blancaCapa_x0020_1.png" alt="flecha adn"
                                class="flecha-adn mx-5">
                        </div>
                        <div class="col-md-6 descripcion-mision d-flex justify-content-start align-items-center">
                            <p class="text-start mx-5">Convertir retos complejos en oportunidades <br> rentables</p>
                        </div>
                    </div>
                </div>

                <div class="manifiesto col-md-12">
                    <div class="row">
                        <div class="col-md-6 descripcion-manifiesto d-flex justify-content-end align-items-center">
                            <p class="text-end">Pasos firmes hacia la consolidación</p>
                        </div>
                        <div class="col-md-6 titulo-manifiesto d-flex justify-content-start align-items-center">
                            <img src="../img/QuienesSomos/flecha al revezCapa_x0020_1.png" alt="flecha vision"
                                class="flecha-adn mx-5">
                            <p class="text-start">MANIFIESTO <br> 2024</p>
                        </div>
                    </div>
                </div>

                <div class="val-venc col-md-12 ">
                    <div class="row">
                        <div class="valores-container col-md-6 d-flex justify-content-center align-items-center">

                            <div class="valores-title col-md-12 d-flex justify-content-center align-items-center">
                                <p class="text-center">VALORES</p>
                            </div>

                        </div>

                        <div class="vencidos-container col-md-6">
                            <div class="row">
                                <div class="vencidos-img col-md-6">
                                    <div class="bg-primary">
                                        <img src="../img/QuienesSomos/Capa_x0020_1@2x.png" alt="">
                                    </div>
                                </div>
                                <div class="texto-vencidos col-md-6 d-flex justify-content-center align-items-center">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <p>Nunca nos damos por <br> vencidos</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="trab-resp col-md-12 ">
                    <div class="row">
                        <div class="trabajamos-container col-md-6">
                            <div class="row">

                                <div class="texto-trabajamos col-md-6 d-flex justify-content-center align-items-center">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <p class="text-end">Trabajamos juntos hacia <br> una misma meta</p>
                                    </div>
                                </div>


                                <div class="trabajamos-img col-md-6">
                                    <div class="bg-primary">
                                        <img src="../img/QuienesSomos/lunares.png" alt="lunares">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="respondemos-container col-md-6">
                            <div class="row">

                                <div
                                    class="texto-respondemos col-md-6 d-flex justify-content-center align-items-center">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <p class="text-end">Respondemos con agilidad <br> a los cambios</p>
                                    </div>
                                </div>


                                <div class="respondemos-img col-md-6">
                                    <div class="bg-primary">
                                        <img src="../img/QuienesSomos/Capa_x0020_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="act-juga col-md-12 ">
                    <div class="row">
                        <div class="actuamos-container col-md-6">
                            <div class="row">

                                <div class="actuamos-img col-md-6">
                                    <div class="bg-primary">
                                        <img src="../img/QuienesSomos/escalera azul.png" alt="lunares"
                                            class="img-fluid">
                                    </div>
                                </div>


                                <div class="texto-actuamos col-md-6 d-flex justify-content-center align-items-center">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <p class="text-start">Actuamos sin miedo</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="jugamos-container col-md-6">
                            <div class="row">
                                <div class="jugamos-img col-md-6">
                                    <div class="bg-primary">
                                        <img src="../img/QuienesSomos/piramide.png" alt="alt" class="img-fluid">
                                    </div>
                                </div>



                                <div class="texto-jugamos col-md-6 d-flex justify-content-center align-items-center">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <p class="text-end">Jugamos para ganar</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>



        </section>




        <footer class="footer">
            <div class="footer-cimarron">
                <div class="footer-logo"><img src="../img/Logo/gc_logo.svg" alt="logo_cimarrón"></div>
                <div class="desc-footer">
                    <p>En Grupo Cimarrón brindamos valor a cada uno de nuestros clientes, a través de soluciones
                        personalizadas en nuestras distintas divisiones, orientadas al sector público y privado.
                        <br><br> Líder en México en la industria alimenticia con más de 37 años de experiencia.
                    </p>
                </div>
                <div class="redes-sociales-footer">
                    <a href="#"><img src="../img/Footer/facebook.svg" alt="facebook"></a>
                    <a href="#"><img src="../img/Footer/instagram.svg" alt="instagram"></a>
                    <a href="#"><img src="../img/Footer/linkedin.svg" alt="linkedin"></a>
                    <a href="#"><img src="../img/Footer/twitter.svg" alt="twitter"></a>
                    <a href="#"><img src="../img/Footer/whatsapp.svg" alt="whatsapp"></a>
                </div>
            </div>
            <div class="certificaciones">
                <div class="certif-titulo">
                    <p><b>CERTIFICACIONES</b></p>
                </div>
                <div class="certif-img">
                    <img src="../img/Footer/Certificacion01.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion02.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion03.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion04.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion05.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion06.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion07.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion08.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion09.svg" alt="certificacion">
                </div>

            </div>
            <div class="enlaces">
                <div class="enlaces-titulo">
                    <p><b>ENLACES</b></p>
                </div>
                <div class="enlaces-enlaces">
                    <a href="">Noticias</a>
                    <a href="">cimarron.shop</a>
                    <a href="">Facturación Placita Cimarrón</a>
                    <a href="">Facturación Borreguito</a>
                    <a href="">Quejas y sugerencias</a>
                    <a href="">Bolsas de Trabajo</a>
                    <a href="">Contacto</a>
                </div>
                <div class="enlaces-triangulo"><img src="../img/Footer/cima.svg" alt="cima"></div>
            </div>

        </footer>
        <div class="pie-pagina">
            <div class="pie-copy">
                <p>Todos los derechos reservados &copy; <span id="año"></span> Grupo Cimarrón</p>
            </div>
            <div class="pie-aviso">
                <p>Aviso de privacidad | Términos y condiciones</p>
            </div>
        </div>
    </div>
    <script src="../javascript/index.js"></script>
</body>

</html>