<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/vacantes.css">
    <title>¡Trabaja con nosotros!</title>
</head>

<body>
    <div class="container">
        <div class="grid-vacantes">
            <div class="titulo-vacantes">
                <h1>¡TRABAJA <br> CON NOSOTROS!</h1>
                <p>¡Gracias por considerar a Grupo Cimarrón para tu desarrollo profesional! ¿Buscas oportunidades para
                    iniciar o avanzar en tu carrera y compartes los valores del corporativo? Deja tus datos y nosotros
                    nos pondremos en contacto contigo para enlazarte con posiciones afines a tu perfil.</p>

                <div class="botones">
                    <button class="green-button"><b>Captura tus datos</b></button>
                    <button class="green-button"><b>Consulta vacantes</b></button>
                </div>
            </div>
            <div class="img-tope">
                <img src="../img/vacantes/borrego.png" alt="tope">
            </div>
            <div class="decoracion-vacantes">
                <img src="../img/vacantes/Capa_x0020_1.svg" alt="capa">
            </div>
            <div class="triangulo-verde">
                <img src="../img/vacantes/Triangle_green.svg" alt="triangulo verde">
            </div>
            <div class="triangulo-melon">
                <img src="../img/vacantes/triangle_melon.svg" alt="triangulo melon">
            </div>
        </div>
    </div>
</body>

</html>