<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página principal para Grupo Cimarrón">
    <meta name="keywords" content="Dulces, Salud, Confitería, Chocolates, Despensas, Botana, BorreGo, Borreguito, Borreguita, Chihuahua, Delicias, Pistacho, Mundo ">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="GRUPO CIMARRÓN">
    <link rel="icon" type="x-icon" sizes="32x47" href="../img/icono_pagina.png">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/vacantes.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <title>¡Trabaja con nosotros!</title>
</head>

<body>
    <nav class="barra-navegacion" id="navbar">
        <div class="logo-mobile">
            <a href="../index.html"><img src="../img/Logo/gc_logo.svg" alt="logo"></a>
        </div>
        <div class="menu-hamburguesa">
            <button class="hamburguesa-btn">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
        </div>
        <ul class="menu-horizontal">
            <li class="lista-texto"><a href="#">NOSOTROS</a>
                <ul class="menu-vertical">
                    <a href="#">
                        <li>NUESTRA HISTORIA</li>
                    </a>
                    <a href="quienes_somos.html">
                        <li>¿QUIENES SOMOS?</li>
                    </a>
                    <a href="estrategia_corporativa.html">
                        <li>ESTRATEGIA CORPORATIVA</li>
                    </a>
                </ul>
            </li>
            <li class="lista-texto"><a href="#">DIVISIONES</a>
                <ul class="menu-vertical">
                    <a href="#">
                        <li>RETAIL</li>
                    </a>
                    <a href="division_alimentos.html">
                        <li>ALIMENTOS</li>
                    </a>
                    <a href="division-salud.html">
                        <li>SALUD</li>
                    </a>
                    <a href="division-seguridad.html">
                        <li>SEGURIDAD</li>
                    </a>
                    <a href="division_tecnologia.html">
                        <li>TECNOLOGÍA</li>
                    </a>
                    <a href="division_escolar.html">
                        <li>ESCOLAR</li>
                    </a>
                </ul>
            </li>
            <li class="lista-texto"><a href="">CONFITERÍA Y BOTANAS</a>
                <ul class="menu-vertical">
                    <a href="#">
                        <li>TRUFFINO</li>
                    </a>
                    <a href="#">
                        <li>GALERIA</li>
                    </a>
                    <a href="https://cimarron.shop/" target="_blank" rel="noopener noreferrer">
                        <li>CIMARRÓN.SHOP</li>
                    </a>
                    <a href="https://sotolcuernos.mx/" target="_blank" rel="noopener noreferrer">
                        <li>SOTOL CUERNOS</li>
                    </a>
                </ul>
            </li>
            <li><a href="../index.html"><img src="../img/Logo/gc_logo.svg" alt="Logo Cimarrón"></a></li>
            <a href="#">
                <li class="lista-texto">FUNDACIÓN
            </a></li>
            <a href="#">
                <li class="lista-texto"><a href="vacantes.html">¡TRABAJA CON NOSOTROS!

                    </a></li>
                <li class="lista-texto"><a href="#">CONTACTO</a>
                    <ul class="menu-vertical">
                        <a href="servicio_al_cliente.html">
                            <li>SERVICIO AL CLIENTE</li>
                        </a>
                        <a href="proveedores.html">
                            <li>PROVEEDORES</li>
                        </a>
                    </ul>
                </li>
        </ul>

        <div class="menu-hamburguesa-responsive">
            <ul class="menu-vertical-responsive">
                <li>NOSOTROS
                    <ul class="menu-vertical-mobile">
                       
                            <li> <a href="#">NUESTRA HISTORIA</a></li>

                        
                            <li><a href="quienes_somos.html">¿QUIENES SOMOS?</a></li>

                        
                            <li><a href="estrategia_corporativa.html">ESTRATEGIA CORPORATIVA</a></li>

                    </ul>
                </li>
                <li>DIVISIONES
                    <ul class="menu-vertical-mobile">
                    
                            <li class="has-submenu">RETAIL
                                <ul class="submenu-segundo">
                                    <li><a href="">PLACITA CIMARRÓN</a></li>
                                    <li><a href="">BORREGUITO</a></li>
                                    <li><a href="">BORREGUITA</a></li>
                                    <li><a href="">BORRE GO!</a></li>
                                </ul>
                            </li>

                        
                            <li class="has-submenu">ALIMENTOS
                                <ul class="submenu-segundo">
                                    <li><a href="../index.html">COMEDORES</a></li>
                                    <li><a href="division-salud.html">SALUD</a></li>
                                </ul>
                            </li>

                        
                            <li><a href="division-salud.html">SALUD</a></li>

                        
                            <li><a href="division-seguridad.html">SEGURIDAD</a></li>

                        
                            <li><a href="division_tecnologia.html">TECNOLOGÍA</a></li>

                        
                            <li><a href="division_escolar.html">ESCOLAR</a></li>

                            <li class="has-submenu">CONFITERIA
                                <ul class="submenu-segundo">
                                    <li><a href="">TRUFFINO</a></li>
                                    <li><a href="">GALERIA</a></li>
                                    <li><a href="">CONFITERIA</a></li>
                                </ul>
                            </li>

                    </ul>
                </li>
                <li>TIENDA EN LINEA
                    <ul class="menu-vertical-mobile">
                        
                            <li><a href="https://cimarron.shop/" target="_blank">CIMARRÓN.SHOP</a></li>
                        
                            <li><a href="https://sotolcuernos.mx/" target="_blank">SOTOL CUERNOS</a></li>
                        
                    </ul>
                </li>
                
                <li><a href="#">FUNDACIÓN</a></li>
                <li><a href="vacantes.html">TRABAJA CON NOSOTROS</a></li>
                <li>CONTACTO
                    <ul class="menu-vertical-mobile">
                        
                            <li><a href="servicio_al_cliente.html">SERVICIO AL CLIENTE</a></li>
                        
                            <li><a href="proveedores.html">PROVEEDORES</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

































    <div class="container">
        <div class="grid-vacantes">
            <div class="titulo-vacantes">
                <h1>¡TRABAJA <br> CON NOSOTROS!</h1>
                <p>¡Gracias por considerar a Grupo Cimarrón para tu desarrollo profesional! ¿Buscas oportunidades para
                    iniciar o avanzar en tu carrera y compartes los valores del corporativo? Deja tus datos y nosotros
                    nos pondremos en contacto contigo para enlazarte con posiciones afines a tu perfil.</p>

                <div class="botones">
                    <button class="green-button"><b>Captura tus datos</b></button>
                    <button class="green-button"><b>Consulta vacantes</b></button>
                </div>
            </div>
            <div class="img-tope">
                <img src="../img/vacantes/borrego.png" alt="tope">
            </div>
            <div class="decoracion-vacantes">
                <img src="../img/vacantes/Capa_x0020_1.svg" alt="capa">
            </div>
            <div class="triangulo-verde">
                <img src="../img/vacantes/Triangle_green.svg" alt="triangulo verde">
            </div>
            <div class="triangulo-melon">
                <img src="../img/vacantes/triangle_melon.svg" alt="triangulo melon">
            </div>
        </div>
        <footer class="footer">
            <div class="footer-cimarron">
                <div class="footer-logo"><img src="../img/Logo/gc_logo.svg" alt="logo_cimarrón"></div>
                <div class="desc-footer">
                    <p>En Grupo Cimarrón brindamos valor a cada uno de nuestros clientes, a través de soluciones
                        personalizadas en nuestras distintas divisiones, orientadas al sector público y privado.
                        <br><br> Líder en México en la industria alimenticia con más de 39 años de experiencia.
                    </p>
                </div>
                <div class="redes-sociales-footer">
                    <a href="#"><img src="../img/Footer/facebook.svg" alt="facebook"></a>
                    <a href="#"><img src="../img/Footer/instagram.svg" alt="instagram"></a>
                    <a href="#"><img src="../img/Footer/linkedin.svg" alt="linkedin"></a>
                    <a href="#"><img src="../img/Footer/twitter.svg" alt="twitter"></a>
                    <a href="#"><img src="../img/Footer/whatsapp.svg" alt="whatsapp"></a>
                </div>
                <div class="footer-triangulo"><img src="../img/Footer/cima.svg" alt="cima"></div>
            </div>
            <div class="certificaciones">
                <div class="certif-titulo">
                    <p><b>CERTIFICACIONES</b></p>
                </div>
                <div class="certif-img">
                    <img src="../img/Footer/Certificacion01.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion02.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion03.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion04.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion05.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion06.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion07.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion08.svg" alt="certificacion">
                    <img src="../img/Footer/certificacion09.svg" alt="certificacion">
                </div>

            </div>
            <div class="enlaces">
                <div class="enlaces-titulo">
                    <p><b>ENLACES</b></p>
                </div>
                <div class="enlaces-enlaces">
                    <a href="">Noticias</a>
                    <a href="">cimarron.shop</a>
                    <a href="">Facturación Placita Cimarrón</a>
                    <a href="">Facturación Borreguito</a>
                    <a href="">Quejas y sugerencias</a>
                    <a href="">Bolsas de Trabajo</a>
                    <a href="">Contacto</a>
                </div>
                <div class="enlaces-triangulo"><img src="../img/Footer/cima.svg" alt="cima"></div>
            </div>

        </footer>
        <div class="pie-pagina">
            <div class="pie-copy">
                <p>Todos los derechos reservados &copy; <span id="año"></span> Grupo Cimarrón</p>
            </div>
            <div class="pie-aviso">
                <p>Aviso de privacidad | Términos y condiciones</p>
            </div>
        </div>
    </div>
    <script src="../javascript/navbar.js"></script>
</body>

</html>
