body{
    margin: 0;
    padding: 0;
}

.contenedor{
    max-width: 1400px;
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
}
.tecnologia-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-areas: 
    "silla guantes descripcion descripcion descripcion";
    background-color: transparent;
    margin-top: 7%;
}

.img-hon{
    grid-area: silla;
    overflow: hidden;
}

.img-hon img{
    width: 100%; /* Hace que la imagen ocupe el 100% del ancho del contenedor */
    height: 100%; /* Mantiene la proporción de aspecto de la imagen */
    display: block;
}

.img-cpu{
    grid-area: guantes;
    overflow: hidden;
}

.img-cpu img{
    width: 100%; /* Hace que la imagen ocupe el 100% del ancho del contenedor */
    height: 100%; /* Mantiene la proporción de aspecto de la imagen */
    display: block;

}

.descripcion-tecnologia{
    grid-area: descripcion;
    display: flex;
    justify-content: center;
    align-items:start;
    flex-direction: column;
    background-color: #243683;
    padding: 5%;
    color: white;
}
.descripcion-tecnologia h1{
    margin-bottom: 2%;
    font-size: clamp(2rem, 3vw, 4rem) !important;
    font-family: "GraphikLighter";
}


.tecnologia-container-segundo{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "collarin collarin reposapies reposapies descripcion-2 descripcion-2 descripcion-2"
    "collarin collarin figuras figuras figuras figuras figuras";

}

.camara-img{
    grid-area: collarin;
    overflow: hidden;
    position: relative;
}

.scaner-img{
    grid-area: reposapies;
    overflow: hidden;
    position: relative;
}

.descripcion-tecnologia-segundo{
    grid-area: descripcion-2;
    overflow:hidden;
    padding: 10%;
    color:black;
}
.descripcion-tecnologia h1{
    font-size: clamp(1rem, 2vw, 4rem);
    color: white !important;
}

.descripcion-tecnologia-segundo p,
.descripcion-tecnologia p{
    margin: 0 !important;
    font-size: clamp(1rem, 0.8vw, 4rem);
}

.figuras-img{
    grid-area: figuras;
   
}

.camara-img img{
    width: 100%;            /* Ancho de la imagen al 100% del contenedor */
    height: 100%;           /* Mantiene la proporción de aspecto de la imagen */
    position: absolute;     /* Posiciona la imagen de forma absoluta dentro del contenedor */
    top: 50%;               /* Centra verticalmente la imagen */
    left: 50%;              /* Centra horizontalmente la imagen */
    transform: translate(-50%, -50%); /* Centra exactamente la imagen en el centro */
    object-fit: cover;      /* Escala la imagen para que cubra todo el contenedor */
    object-position: 25% 50%;
}
.scaner-img img{
    width: 110%;            /* Ancho de la imagen al 100% del contenedor */
    height: 100%;           /* Mantiene la proporción de aspecto de la imagen */
    position: absolute;     /* Posiciona la imagen de forma absoluta dentro del contenedor */
    top:50%;               /* Centra verticalmente la imagen */
    left: 50%;              /* Centra horizontalmente la imagen */
    transform: translate(-50%, -50%); /* Centra exactamente la imagen en el centro */
    object-fit: cover;      /* Escala la imagen para que cubra todo el contenedor */
    object-position: 25% 50%;
}
.figuras-img img{
    height: 100%;
    width: 100%;
}

.destacado{
    color: white;         /* Color blanco */
    font-weight: bold;
    font-family: "GraphikSemiBold";
}

@media (min-width: 1870px) {
    .scaner-img img{
        width: 120% !important;
    }
    .camara-img img{
        width: 110%;
    }
  }

@media screen and (max-width: 1203px) {

    .descripcion-tecnologia
    {
        padding: 5%;
    }
    .scaner-img img{
        position: absolute;
    }
    .descripcion-tecnologia h1{
        margin-bottom: 3%;
        font-size: clamp(2rem, 4vw, 5rem);
    }
}

@media screen and (max-width: 1097px) {

    .tecnologia-container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
        grid-template-areas: 
        "descripcion descripcion descripcion silla"
        "descripcion descripcion descripcion guantes";
       
    }

    .descripcion-tecnologia-segundo p,
    .descripcion-tecnologia p{
        margin: 0 !important;
        font-size: clamp(1rem, 2vw, 4rem);
        margin-top: 5%;
}
    .tecnologia-container-segundo{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "collarin descripcion-2 descripcion-2 descripcion-2"
        "reposapies descripcion-2 descripcion-2 descripcion-2"
        "figuras figuras figuras figuras";
      
    }

    .scaner-img img{
        width: 120% !important;
    }

    .camara-img img{
        top: 50%;
    }

}

@media screen and (max-width: 740px) {

    .tecnologia-container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "descripcion descripcion"
        "silla silla";
        background-color: #243683;
        margin-top: 20%;
        /* mask-image: linear-gradient(
            black 90%,
            transparent
        ); */
    }
    .img-cpu{
        display: none;
    }
    .img-hon{
        display: flex;
        justify-content: center;
        padding-bottom: 3%;
        
    }

    .img-hon img{
        width:50%;
       
    }

    .tecnologia-container-segundo{
        width: 100%;
        color: black;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "descripcion-2"
        "reposapies"
        "figuras";
        
    }


    .camara-img{
        display: none; /* Oculta la imagen de collarin */
    }

    .scaner-img img,
    .figuras-img img{
        display: block; /* Muestra la imagen de figuras */
        width: 120%; /* Hace que la imagen ocupe el 100% del ancho del contenedor */
        height: 100%; /* Mantiene la proporción de aspecto de la imagen */
    }

    .img-hon img{
        mask-image: linear-gradient(
            black 70%,
            transparent
        );
        border-radius: 10px;
    }
    .descripcion-tecnologia-segundo p,
    .descripcion-tecnologia p{
        margin: 0 !important;
        font-size: clamp(0.8rem, 1vw, 2rem);
        margin-top: 5%;
}
}
@media screen and (max-width: 660px) {
    .tecnologia-container{
        margin-top: 10%;
    }
}

@media screen and (max-width: 560px) {
    .tecnologia-container{
        margin-top: 15%;
    }
}

@media screen and (max-width: 400px) {
    .tecnologia-container{
        margin-top: 25%;
    }
}

@media screen and (max-width: 280px) {
    .tecnologia-container{
        margin-top: 30%;
    }
}