body{
    margin: 0;
    padding: 0;
}

.contenedor{
    max-width: 1400px;
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
}
.alimentos-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-areas: 
    "silla guantes descripcion descripcion descripcion";
    background-color: transparent;
    margin-top: 7%;
}

.img-nina{
    grid-area: silla;
    overflow: hidden;
}

.img-nina img{
    width: 100%;
    height: 100%;
}

.img-productos{
    grid-area: guantes;
    overflow: hidden;
    position: relative;
}

.img-productos img{
    width: 180%;            /* Ancho de la imagen al 100% del contenedor */
    height: auto;           /* Mantiene la proporción de aspecto de la imagen */
    position: absolute;     /* Posiciona la imagen de forma absoluta dentro del contenedor */
    top: 50%;               /* Centra verticalmente la imagen */
    left: 50%;              /* Centra horizontalmente la imagen */
    transform: translate(-50%, -50%); /* Centra exactamente la imagen en el centro */
    object-fit: cover;      /* Escala la imagen para que cubra todo el contenedor */
    object-position: 25% 50%;
}

.descripcion-alimentos{
    grid-area: descripcion;
    display: flex;
    justify-content: center;
    align-items:start;
    flex-direction: column;
    background-color:#29B16E;
    padding: 5%;
    color: white;
}
.descripcion-alimentos h1{
    color: white;
    margin-bottom: 4%;
    font-size: clamp(2rem, 3vw, 4rem) !important;
    font-family: "GraphikLighter";
}


.alimentos-container-segundo{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "collarin collarin reposapies reposapies descripcion-2 descripcion-2 descripcion-2"
    "collarin collarin figuras figuras figuras figuras figuras";

}

.mochila-img{
    grid-area: collarin;
    overflow: hidden;
    position: relative;
}

.comiendo-img{
    grid-area: reposapies;
    overflow: hidden;
    position: relative;
}

.descripcion-alimentos-segundo{
    grid-area: descripcion-2;
    overflow:hidden;
    padding: 10%;
    color:black;
}
.descripcion-alimentos h1{
    font-size: clamp(1rem, 2vw, 4rem);
}

.descripcion-alimentos-segundo p,
.descripcion-alimentos p{
    margin: 0 !important;
    font-size: clamp(1rem, 0.8vw, 4rem);
}

.figuras-img{
    grid-area: figuras;
   
}

.mochila-img img{
    width: 170%;            /* Ancho de la imagen al 100% del contenedor */
    height: auto;           /* Mantiene la proporción de aspecto de la imagen */
    position: absolute;     /* Posiciona la imagen de forma absoluta dentro del contenedor */
    top: 50%;               /* Centra verticalmente la imagen */
    left: 50%;              /* Centra horizontalmente la imagen */
    transform: translate(-50%, -50%); /* Centra exactamente la imagen en el centro */
    object-fit: cover;      /* Escala la imagen para que cubra todo el contenedor */
    object-position: 25% 50%;
}
.comiendo-img img{
    width: 110%;            /* Ancho de la imagen al 100% del contenedor */
    height: 100%;           /* Mantiene la proporción de aspecto de la imagen */
    position: absolute;     /* Posiciona la imagen de forma absoluta dentro del contenedor */
    top:50%;               /* Centra verticalmente la imagen */
    left: 50%;              /* Centra horizontalmente la imagen */
    transform: translate(-50%, -50%); /* Centra exactamente la imagen en el centro */
    object-fit: cover;      /* Escala la imagen para que cubra todo el contenedor */
    object-position: 25% 50%;
}
.figuras-img img{
    height: 100%;
    width: 100%;
}

.destacado{
    color: white;         /* Color blanco */
    font-weight: bold;
    font-family: "GraphikSemiBold";
}


@media screen and (max-width: 1203px) {

    .descripcion-alimentos
    {
        padding: 5%;
    }
}

@media screen and (max-width: 1097px) {

    .alimentos-container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
        grid-template-areas: 
        "descripcion descripcion descripcion silla"
        "descripcion descripcion descripcion guantes";
       
    }

    .descripcion-alimentos-segundo p,
    .descripcion-alimentos p{
        margin: 0 !important;
        font-size: clamp(1rem, 2vw, 4rem);
        margin-top: 5%;
}
    .alimentos-container-segundo{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "collarin descripcion-2 descripcion-2 descripcion-2"
        "reposapies descripcion-2 descripcion-2 descripcion-2"
        "figuras figuras figuras figuras";
      
    }

    .comiendo-img img{
        width: 120%;
    }

    .mochila-img img{
        top: 66%;
    }

    .img-productos img{
        width: 140%;
        height: 100%;
        position: relative;
    }

}

@media screen and (max-width: 740px) {

    .alimentos-container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "descripcion descripcion"
        "silla silla";
        background-color: #EFB129;
        /* mask-image: linear-gradient(
            black 90%,
            transparent
        ); */
    }
    .img-productos{
        display: none;
    }
    .img-nina{
        display: flex;
        justify-content: center;
        padding-bottom: 3%;
        
    }

    .img-nina img{
        width:50%;
       
    }

    .alimentos-container-segundo{
        width: 100%;
        color: black;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "descripcion-2"
        "reposapies"
        "figuras";
        
    }


    .mochila-img{
        display: none; /* Oculta la imagen de collarin */
    }

    .comiendo-img img,
    .figuras-img img{
        display: block; /* Muestra la imagen de figuras */
        width: 100%; /* Hace que la imagen ocupe el 100% del ancho del contenedor */
        height: auto; /* Mantiene la proporción de aspecto de la imagen */
    }

    .img-nina img{
        mask-image: linear-gradient(
            black 70%,
            transparent
        );
        border-radius: 10px;
    }
}

@media screen and (max-width: 660px) {
    .alimentos-container{
        margin-top: 10%;
    }
}

@media screen and (max-width: 560px) {
    .alimentos-container{
        margin-top: 15%;
    }
}

@media screen and (max-width: 400px) {
    .alimentos-container{
        margin-top: 25%;
    }
}

@media screen and (max-width: 280px) {
    .alimentos-container{
        margin-top: 30%;
    }
}