body{
    margin: 0;
    padding: 0;
}

.contenedor{
    max-width: 1400px;
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
}
.seguridad-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-areas: 
    "silla guantes descripcion descripcion descripcion";
    background-color: transparent;
    margin-top: 7%;
}

.img-bomberos{
    grid-area: silla;
    overflow: hidden;
}

.img-bomberos img{
    width: 100%; /* Hace que la imagen ocupe el 100% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
    display: block;
}

.img-policia{
    grid-area: guantes;
    overflow: hidden;
}

.img-policia img{
    width: 100%; /* Hace que la imagen ocupe el 100% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
    display: block;
}

.descripcion-seguridad{
    grid-area: descripcion;
    display: flex;
    justify-content: center;
    align-items:start;
    flex-direction: column;
    background-color: #EFB129;
    padding: 5%;
    color: white;
}
.descripcion-seguridad h1{
    color: white;
    margin-bottom: 3%;
    font-size: clamp(2rem, 3vw, 4rem) !important;
    font-family: "GraphikLighter";
}


.seguridad-container-segundo{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "collarin collarin reposapies reposapies descripcion-2 descripcion-2 descripcion-2"
    "collarin collarin figuras figuras figuras figuras figuras";

}

.policias-img{
    grid-area: collarin;
    overflow: hidden;
    position: relative;
}

.bombero-img{
    grid-area: reposapies;
    overflow: hidden;
    position: relative;
}

.descripcion-seguridad-segundo{
    grid-area: descripcion-2;
    overflow:hidden;
    padding: 10%;
    color:black;
}
.descripcion-seguridad h1{
    font-size: clamp(1rem, 2vw, 4rem);
}

.descripcion-seguridad-segundo p,
.descripcion-seguridad p{
    margin: 0 !important;
    font-size: clamp(1rem, 0.8vw, 4rem);
}

.figuras-img{
    grid-area: figuras;
   
}

.policias-img img{
    width: 100%;            /* Ancho de la imagen al 100% del contenedor */
    height: auto;           /* Mantiene la proporción de aspecto de la imagen */
    position: absolute;     /* Posiciona la imagen de forma absoluta dentro del contenedor */
    top: 50%;               /* Centra verticalmente la imagen */
    left: 50%;              /* Centra horizontalmente la imagen */
    transform: translate(-50%, -50%); /* Centra exactamente la imagen en el centro */
    object-fit: cover;      /* Escala la imagen para que cubra todo el contenedor */
    object-position: 25% 50%;
}
.bombero-img img{
    width: 110%;            /* Ancho de la imagen al 100% del contenedor */
    height: auto;           /* Mantiene la proporción de aspecto de la imagen */
    position: absolute;     /* Posiciona la imagen de forma absoluta dentro del contenedor */
    top:50%;               /* Centra verticalmente la imagen */
    left: 50%;              /* Centra horizontalmente la imagen */
    transform: translate(-50%, -50%); /* Centra exactamente la imagen en el centro */
    object-fit: cover;      /* Escala la imagen para que cubra todo el contenedor */
    object-position: 25% 50%;
}
.figuras-img img{
    height: 100%;
    width: 100%;
}

.destacado{
    color: white;         /* Color blanco */
    font-weight: bold;
    font-family: "GraphikSemiBold";
}


@media screen and (max-width: 1203px) {

    .descripcion-seguridad
    {
        padding: 5%;
    }
}

@media screen and (max-width: 1097px) {

    .seguridad-container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
        grid-template-areas: 
        "descripcion descripcion descripcion silla"
        "descripcion descripcion descripcion guantes";
       
    }

    .descripcion-seguridad-segundo p,
    .descripcion-seguridad p{
        margin: 0 !important;
        font-size: clamp(1rem, 2vw, 4rem);
        margin-top: 5%;
}
    .seguridad-container-segundo{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "collarin descripcion-2 descripcion-2 descripcion-2"
        "reposapies descripcion-2 descripcion-2 descripcion-2"
        "figuras figuras figuras figuras";
      
    }

    .bombero-img img{
        width: 120%;
    }

    .policias-img img{
        top: 66%;
    }

 
}

@media screen and (max-width: 740px) {

    .seguridad-container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "descripcion descripcion"
        "silla silla";
        background-color: #EFB129;
        /* mask-image: linear-gradient(
            black 90%,
            transparent
        ); */
    }
    .img-policia{
        display: none;
    }
    .img-bomberos{
        display: flex;
        justify-content: center;
        padding-bottom: 3%;
        
    }

    .img-bomberos img{
        width:50%;
       
    }

    .seguridad-container-segundo{
        width: 100%;
        color: black;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "descripcion-2"
        "reposapies"
        "figuras";
        
    }


    .policias-img{
        display: none; /* Oculta la imagen de collarin */
    }

    .bombero-img img,
    .figuras-img img{
        display: block; /* Muestra la imagen de figuras */
        width: 100%; /* Hace que la imagen ocupe el 100% del ancho del contenedor */
        height: auto; /* Mantiene la proporción de aspecto de la imagen */
    }

    .img-bomberos img{
        mask-image: linear-gradient(
            black 70%,
            transparent
        );
        border-radius: 10px;
    }
}
