* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.proveedores-section{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto;
    position: relative;
    margin-top: 6%;
   
}

.proveedores-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20% 10%;
    background-color:#243683;
}
.proveedores-text h1{
    margin-bottom: 50px;
    color: white !important;
}

.proveedores-text .texto-proveedores {
    margin-bottom: 30%;
    color: white !important;
    font-family: "GraphikLighter";
    font-size: clamp(0.7rem, 1vw, 1rem);
}

.correo-proveedores{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: clamp(0.6rem, 0.9vw, 1.2rem);
    color: white;
}

.decoracion-proveedores{
    position:absolute;
    bottom: 32%;
    left: 30%;
}
.decoracion-proveedores img{
    width: 74%;
}

.decoracion-proveedores-verde{
    position: absolute;
    bottom: 14%;
    right: 10%;
}

.decoracion-proveedores-verde img{
    width: 200%;
}

.proveedores-form{
    max-width: 100%;
    width: 70%;
    margin: 0 auto;
    padding: 10% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.proveedores-form form{
    display: grid;
    gap: 10px;
 
}

.proveedores-form label{
    font-family: "GraphikSemibold";
}

.proveedores-form input[type="text"],
.proveedores-form input[type="email"],
.proveedores-form input[type="tel"],
.proveedores-form textarea{
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid black;
}

.proveedores-form button{
    background-color: #243683;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    width: 50%;
    margin-top: 5%;
}

.proveedores-form button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 950px) {

    .proveedores-section{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        position: relative;
        margin-top: 6%;
       
    }

    .proveedores-text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20% 10%;
        background-color:#243683;
    }
    .proveedores-text h1{
        margin-bottom: 50px;
        color: white !important;
        font-size: clamp(1rem, 4vw, 4rem);
        font-family: "GraphikBold";
    }
    
    .proveedores-text .texto-proveedores {
        margin-bottom: 10%;
        color: white !important;
        font-family: "GraphikLighter";
        font-size: clamp(0.5rem, 2vw, 1.5rem);
    }

    .correo-proveedores {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: clamp(0.6rem, 2vw, 1.2rem);
        color: white;
    }

    .decoracion-proveedores {
        position: absolute;
        bottom: 60%;
        left: 75%;
    }
    .decoracion-proveedores-verde{
        display: none;
    }
}

