@font-face {
    font-family: "GraphikRegular";
    src: url(../fonts/Graphik-Font-Family/Graphik-Font-Family/GraphikRegular.otf);
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: "GraphikSemibold";
    font-weight: 900;
    src: url(../fonts/Graphik-Font-Family/Graphik-Font-Family/GraphikSemibold.otf);
    font-style: bold;
}

@font-face {
    font-family: "GraphikBold";
    font-weight: 900;
    src: url(../fonts/Graphik-Font-Family/Graphik-Font-Family/GraphikBold.otf);
    font-style: bold;
}

@font-face {
    font-family: "GraphikMedium";
    src: url(../fonts/Graphik-Font-Family/Graphik-Font-Family/GraphikMedium.otf);
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "GraphikLighter";
    src: url(../fonts/Graphik-Font-Family/Graphik-Font-Family/GraphikLight.otf);
    font-weight: lighter;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: #A37535;
    font-family: "GraphikRegular";
    font-size: 2vw;
}

h2 {
    font-family: "GraphikBold";
    font-size: 2vw;
}

p {
    font-family: "GraphikLighter";
}

a {
    text-decoration: none;

}

/* .row{
 margin: 0;
} */

* {
    margin: 0;
    padding: 0;
}

.contenedor {
    max-width: 1400px;
    margin: 0 auto;
    height: auto;
    background-color: white;
    overflow: hidden;

    /* Cambia el color de fondo según sea necesario */
}

.quienes-somos {
    width: 100%;
    margin-top: 9%;
}

.quienes-img-ppal {
    position: relative;
}

.quienes-img-ppal img {
    width: 100%;
}

.quienes-img-ppal h1 {
    position: absolute;
    top: 13%;
    left: 37%;
    color: #A37535;
    font-family: "GraphikRegular";
    font-size: clamp(1rem, 2vw, 2.5rem);

}

.quienes-img-ppal h2 {
    position: absolute;
    top: 13%;
    left: 51%;
    color: white;
    font-size: clamp(1rem, 2vw, 2.5rem);

}

.quienes-img-ppal div {
    position: absolute;
    top: 12%;
    left: 7%;
}

.quienes-img-ppal div .triangulo-cremita-arriba {
    width: 68%;

}

.escaleras-quienes {
    background-color: #FDDACF;
    display: flex;
    justify-content: end;
    align-items: end;
    position: relative;
}

.escaleras-quienes .escalones-quienes {
    width: 100%;
}

.escaleras-quienes .triangulo-arriba-quienes {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 20%;
}

.triangulo-quienes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    padding: 3%;
}

.triangulo-quienes img {
    width: 11%;
}

.quienes-descripcion {
    height: auto;
    padding-left: 0;
}

.descr {
    background-color: #A37535;
    width: 100%;
    padding-bottom: 2%;
}

.descr p {
    color: white;
    padding: 2%;
}

.row .quienes-descripcion {
    padding-right: 0px !important;
}

/* Inicio seccion recuadros colores */
.recuadros-colores {
    width: 100%;
    background-color: transparent;
    height: auto;
    padding: 2% 4%;
}

.adn-cimarron {
    background-color: #29B16E;
    padding: 2%;
}

.titulo-adn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.titulo-adn p {
    text-align: end;
    font-size: clamp(2rem, 2vw, 4rem);
    margin-right: 5%;
    color: white;
}

.titulo-adn img {
    width: 15%;
    margin-left: 3%;
}

.lista-adn {
    color: white;
}

.vision-cimarron {
    margin-top: 2% !important;
}

.titulo-vision {
    background-color: #A37535;
    padding: 2%;
}

.titulo-vision p {
    color: white;
    font-size: clamp(2rem, 2vw, 4rem);
}

.titulo-vision img {
    width: 10%;
}

.descripcion-vision {
    background-color: #FD8D77;
}

.descripcion-vision p {
    color: white;
    margin-right: 5%;
}

.mision-cimarron {
    margin-top: 2% !important;
}

.titulo-mision {
    padding: 2%;
    background-color: #243683;
}

.titulo-mision img {
    width: 10%;
}

.titulo-mision p {
    color: white;
    font-size: clamp(2rem, 2vw, 4rem);
}

.descripcion-mision {
    background-color: #B789FC;
}

.descripcion-mision p {
    color: white;
}

.manifiesto {
    margin-top: 2% !important;
}

.descripcion-manifiesto {
    background-color: #5284FB;
    padding: 2%;
}

.descripcion-manifiesto p {
    color: white;
    margin-right: 7%;
}

.titulo-manifiesto {
    background-color: #5284FB;
}

.titulo-manifiesto p {
    color: white;
    font-size: clamp(2rem, 2vw, 4rem);
    padding: 2%;
}

.titulo-manifiesto img {
    width: 10%;
}
.act-juga,
.trab-resp,
.val-venc{
    margin-top: 3% !important;
}
.valores-title{
    width: 100%;
}

.valores-title p{
    font-size: clamp(2rem, 2vw, 4rem);
    padding: 2%;
    color: white;
}

.vencidos-title{
    width: 100%;
}

.vencidos-img div img{
    width: 100%;
}

.vencidos-img{
    padding-right: 0% !important;
}

.vencidos-container .texto-vencidos{
    background-color: #FA9226;
    color: white;
    
}

.valores-container{
    background-color: #243683;
}

/* trabajamos y respondemos seccion inicio */

.jugamos-img div img,
.actuamos-img div img,
.respondemos-img div img,
.trabajamos-img div img{
    width: 100%;
}


.respondemos-img,
.trabajamos-img{
    padding: 0 !important;
}


.texto-trabajamos{
    background-color: #29B16E;
    color: white;
}

.texto-respondemos{
    background-color:#243683 ;
    background-clip: content-box;
    color: white;
}

.texto-respondemos{
    padding-right: 0 !important;
}

.texto-actuamos{
    background-color: #A37535;
    color: white;
}

.actuamos-img{
    padding: 0 !important;
}

.jugamos-img{
    padding-right: 0% !important;
}

.texto-jugamos{
    background-color: #5284FB;
    color: white;
}





/* trabajamos y respondemos seccion fin */

/* fin de seccion recuadros colores */